.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:var(--badge-base-color, #8b8c8e);
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h calc(s * 3) calc(l + (100 - l) * .95));
}
.e-pill-badge .e-checkmark{
  font-size:1em;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  gap:6px;
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--sm .e-checkmark,.e-pill-badge--small .e-checkmark{
  margin-left:-4px;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs .e-checkmark{
  margin-left:-4px;
}
.e-pill-badge--xxs{
  gap:4px;
  padding:0 10px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--fill{
  color:var(--badge-base-color, #fff);
  background:var(--badge-fill-color, #ff5429);
}

.e-checkmark{
  width:1em;
  height:1em;
  color:#212428;
  line-height:1em;
  text-align:center;
  border-radius:50%;
  background:#c7e5db;
}
.e-checkmark:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:.35em;
  line-height:inherit;
  vertical-align:top;
  content:"\e901";
}

.e-steps-list{
  display:flex;
  flex-direction:column;
  gap:30px;
  counter-reset:number;
}
.e-steps-list li{
  position:relative;
  padding-top:2px;
  padding-left:50px;
  counter-increment:number;
}
.e-steps-list li:last-child:after{
  display:none;
}
.e-steps-list li:after{
  position:absolute;
  top:0;
  left:13px;
  z-index:-1;
  width:1px;
  height:calc(100% + 30px);
  background:#8b8c8e;
  content:"";
}
.e-steps-list li:before{
  position:absolute;
  top:0;
  left:0;
  align-items:center;
  width:26px;
  height:26px;
  color:#212428;
  font-weight:600;
  border:1px solid #8b8c8e;
  border-radius:40px;
  background:#fff;
  content:counter(number) "";
}

.e-features-list,.e-steps-list li:before{
  display:flex;
  justify-content:center;
  font-size:14px;
}

.e-features-list{
  gap:24px;
}
.e-features-list li{
  display:flex;
  gap:6px;
  align-items:center;
  line-height:1.1;
}
.e-features-list .e-icon-guarantee{
  font-size:30px;
}
.e-features-list .e-icon-shipping-order{
  font-size:22px;
}
.e-features-list .e-icon-proven{
  font-size:28px;
}
.e-features-list .e-icon-checkmark{
  font-size:10px;
}
.e-features-list .e-icon-one-year{
  font-size:24px;
}

.c-marked-list{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-marked-list li{
  position:relative;
  padding-left:1.75em;
  line-height:1.25;
}
.c-marked-list li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}
.c-marked-list--fill li:before{
  color:#fff;
  background:#91baec;
}

.e-pay-options{
  display:flex;
  flex-wrap:wrap;
  gap:4px;
  color:#757677;
  font-size:14px;
  line-height:1;
}
.e-pay-options ul{
  display:flex;
  gap:6px;
  align-self:center;
  justify-content:center;
  line-height:1;
}
.e-pay-options li{
  display:flex;
  align-items:center;
}
.e-pay-options img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}

.c-order-button{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-order-button .btn{
  width:100%;
}
.c-order-button .btn .e-icon-arrow{
  margin-left:4px;
  font-size:16px;
  -webkit-text-stroke:.7px;
}
.c-order-button .e-pay-options{
  justify-content:center;
}

.c-certified-box{
  display:grid;
  grid-template-columns:-webkit-max-content 1fr;
  grid-template-columns:max-content 1fr;
  gap:10px;
  align-items:center;
  max-width:415px;
  padding:10px 20px;
  font-size:14px;
  line-height:18px;
  text-align:left;
  border-radius:5px;
  background:#f6f6f7;
}
.c-certified-box ul{
  display:flex;
  align-items:center;
}
.c-certified-box ul li{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  width:32px;
  height:32px;
  font-size:12px;
  font-weight:600;
  border:1px solid #f6f6f7;
  border-radius:50%;
  background:#c8e6dc;
}
.c-certified-box ul li+li{
  margin-left:-8px;
}
.c-certified-box ul li img{
  width:inherit;
  max-height:inherit;
}
.c-certified-box a{
  color:inherit;
  text-decoration:underline;
}
.c-certified-box a:hover{
  text-decoration:none;
}
.c-certified-box--light{
  background:#fff;
}

.c-buy-block{
  display:flex;
  flex-direction:column;
  gap:16px;
  max-width:500px;
}
.c-buy-block .c-certified-box{
  margin-right:auto;
  margin-left:auto;
}
.c-buy-block>p:has(a){
  font-size:16px;
  line-height:1.2;
  text-align:center;
}
.c-buy-block>p:has(a) strong{
  display:block;
}
.c-buy-block>p:has(a) a{
  color:inherit;
  text-decoration:underline;
}
.c-buy-block>p:has(a) a:hover{
  text-decoration:none;
}
.c-buy-block .e-get-free-shipping{
  margin-bottom:8px;
}
.c-buy-block .one-time-purchase{
  display:block;
  font-size:16px;
  text-align:center;
  text-decoration:underline;
}
.c-buy-block .one-time-purchase:hover{
  text-decoration:none;
}
.c-buy-block__payment-logos{
  text-align:center;
}
.c-buy-block__payment-logos img{
  width:100%;
  max-width:256px;
  vertical-align:top;
}

.e-circle-percent{
  position:relative;
  width:62px;
  height:62px;
  padding:6px;
  border-radius:100px;
  background:conic-gradient(var(--circle-border-color, #c7e5db) 0deg calc(var(--percent-value) * 3.6deg), transparent calc(var(--percent-value) * 3.6deg) 1turn);
}
.e-circle-percent:before{
  position:absolute;
  inset:3px;
  z-index:-1;
  border:1px solid #8b8c8e;
  border-radius:100px;
  content:"";
}
.e-circle-percent span{
  display:flex;
  align-items:center;
  justify-content:center;
  width:50px;
  height:50px;
  font-size:20px;
  font-weight:500;
  border-radius:100px;
  background:#fff;
}

.c-percent-list{
  display:flex;
  flex-direction:column;
  gap:18px;
}
.c-percent-list li{
  display:flex;
  gap:12px;
  align-items:center;
}
.c-percent-list+p{
  margin-top:18px;
  color:#8b8c8e;
  font-size:16px;
}

.c-app-stores{
  display:inline-flex;
  flex-direction:column;
  gap:12px;
}
.c-app-stores a{
  width:100%;
}
.c-app-stores img{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-app-stores--row{
  flex-direction:row;
}

.c-accordion__list{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.c-accordion__item{
  overflow:hidden;
  font-size:16px;
  border-radius:10px;
  background:#f6f6f7;
}
.c-accordion__item[open] .c-accordion__summary{
  font-weight:600;
}
.c-accordion__item[open] .c-accordion__summary:after{
  content:"\e902";
}
.c-accordion__summary{
  display:flex;
  gap:10px;
  align-items:center;
  width:100%;
  min-height:63px;
  padding:12px 24px;
  color:#212428;
  text-align:left;
  border:0;
  background:none;
}
.c-accordion__summary:after{
  margin-left:auto;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:14px;
  content:"\e903";
}
.c-accordion__content{
  padding:0 24px 24px;
}
.c-accordion__content picture{
  float:right;
  width:min(300px, 40%);
  margin-bottom:25px;
  margin-left:40px;
}
.c-accordion__content picture img{
  max-width:100%;
  height:auto;
}
.c-accordion__content p{
  margin:0;
}
.c-accordion__content p:not(:last-child),.c-accordion__content ul:not(:last-child){
  margin-bottom:16px;
}
.c-accordion__content a{
  color:inherit;
  text-decoration:underline;
}
.c-accordion__content a:hover{
  text-decoration:none;
}
.c-accordion__content a[href^="mailto:"]{
  color:#91baec;
}
.c-accordion__content strong{
  font-weight:500;
}
.c-accordion__content ul:not(.c-marked-list,.c-percent-list){
  padding-left:24px;
}
.c-accordion__content ul:not(.c-marked-list,.c-percent-list) li{
  padding-left:4px;
  list-style:disc;
}
.c-accordion__content ul:not(:last-child){
  margin-bottom:15px;
}
.c-accordion__content ol{
  counter-reset:item;
}
.c-accordion__content ol:not(:last-child){
  margin-bottom:15px;
}
.c-accordion__content ol li{
  position:relative;
  min-height:24px;
  padding-left:36px;
  counter-increment:item;
}
.c-accordion__content ol li:before{
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
  border:1px solid;
  border-radius:24px;
  background:#fff;
  content:counters(item, "");
}
.c-accordion__content ol li:not(:last-child){
  margin-bottom:12px;
}
.c-accordion__content hr{
  margin-top:16px;
  margin-bottom:16px;
  opacity:.1;
}
.c-accordion__ask-us{
  display:flex;
  gap:10px;
  align-items:center;
  justify-content:center;
  margin-top:40px;
  font-weight:500;
}
.c-accordion__ask-us a{
  display:flex;
  gap:6px;
  align-items:center;
  font-weight:inherit;
}
.c-accordion__ask-us a .e-icon{
  font-size:14px;
  vertical-align:top;
  -webkit-text-stroke:.4px;
}
.c-accordion__link{
  display:block;
  margin-top:16px;
  font-size:14px;
  text-decoration:underline;
}
.c-accordion__link:hover{
  text-decoration:none;
}
.c-accordion .devices-technical{
  display:flex;
  flex-direction:column;
  gap:24px;
}
.c-accordion .devices-technical ul:not(.c-marked-list){
  margin-bottom:0;
  padding-left:0;
}
.c-accordion .devices-technical ul:not(.c-marked-list) li{
  padding-left:0;
  list-style:none;
}
.c-accordion .devices-technical__buttons{
  display:flex;
  gap:30px;
}
.c-accordion .devices-technical__buttons button{
  padding:0;
  color:#b5b6b7;
  text-align:left;
  border:0;
  background:none;
}
.c-accordion .devices-technical__buttons button.active{
  color:inherit;
  text-decoration:underline;
}
.c-accordion .devices-technical__pane{
  transition:opacity .6s linear;
}
.c-accordion .devices-technical__pane:not(.show){
  position:absolute;
  left:-300vw;
  z-index:-10;
  visibility:hidden;
  max-width:100vw;
  opacity:0;
}
.c-accordion .devices-technical__pane hr{
  margin-top:24px;
  margin-bottom:24px;
}
.c-accordion .devices-technical__section{
  display:grid;
  grid-template-columns:125px 1fr;
  gap:32px;
}
.c-accordion .devices-technical__section p{
  margin-bottom:0;
}
.c-accordion .devices-technical__section ul{
  display:flex;
  flex-direction:column;
  gap:16px;
  font-size:16px;
  line-height:1.2;
}
.c-accordion .devices-technical__section li{
  display:flex;
  gap:8px;
  align-items:center;
}
.c-accordion .devices-technical__section strong{
  font-weight:600;
}
.c-accordion--lines .c-accordion__list{
  gap:0;
}
.c-accordion--lines .c-accordion__item{
  border-bottom:1px solid #8b8c8e;
  border-radius:0;
  background:none;
}
.c-accordion--lines .c-accordion__content,.c-accordion--lines .c-accordion__summary{
  padding-right:0;
  padding-left:0;
}
.c-accordion--arrow-icon .c-accordion__item[open] .c-accordion__summary:after{
  content:"\e905";
}
.c-accordion--arrow-icon .c-accordion__summary:after{
  transform:rotate(90deg);
  content:"\e905";
}

.base-section article{
  display:grid;
  grid-template-rows:auto minmax(-webkit-min-content, 0) auto;
  grid-template-rows:auto minmax(min-content, 0) auto;
  grid-template-columns:repeat(2, 1fr);
  gap:20px 60px;
  align-items:center;
  min-height:0;
}
.base-section article>:first-child{
  align-self:end;
}
.base-section article>:last-child{
  align-self:start;
}
.base-section article>h1,.base-section article>h2{
  margin-bottom:0;
  color:inherit;
}
.base-section article .c-wistia,.base-section article .wistia-embed-video,.base-section article figure,.base-section article>picture{
  grid-row:1 /  -1;
  grid-column:2;
}
.base-section article>picture[data-url]{
  cursor:pointer;
}
.base-section article>picture img{
  display:block;
  width:100%;
  height:auto;
  min-height:220px;
  border-radius:10px;
}
.base-section article h6{
  margin-bottom:0;
  font-family:inherit;
  font-weight:600;
}
.base-section article a:not(.btn){
  color:inherit;
  text-decoration:underline;
}
.base-section article a:not(.btn):hover{
  text-decoration:none;
}
.base-section article p:not(:last-child){
  margin-bottom:15px;
}
.base-section article p em{
  font-style:normal;
  background:#c7e5db;
}
.base-section article p+.c-percent-list{
  margin-top:24px;
}
.base-section article p+h2{
  margin:40px 0 20px;
}
.base-section article ul:not([class]){
  padding-left:24px;
}
.base-section article ul:not([class]):not(:last-child){
  margin-bottom:15px;
}
.base-section article ul:not([class]) li{
  padding-left:4px;
  list-style:disc;
}
.base-section article ol{
  counter-reset:item;
}
.base-section article ol:not(:last-child){
  margin-bottom:15px;
}
.base-section article ol li{
  position:relative;
  min-height:24px;
  padding-left:36px;
  counter-increment:item;
}
.base-section article ol li:before{
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
  border:1px solid;
  border-radius:24px;
  background:#fff;
  content:counters(item, "");
}
.base-section article ol li:not(:last-child){
  margin-bottom:12px;
}
.base-section article ol:not([class]){
  padding-top:4px;
  padding-bottom:4px;
}
.base-section article ol:not([class]) li{
  min-height:36px;
  padding-top:8px;
  padding-left:52px;
}
.base-section article ol:not([class]) li:before{
  width:36px;
  height:36px;
  font-size:18px;
  font-weight:600;
  line-height:36px;
  border-radius:36px;
}
.base-section article ol:not([class]) li:not(:last-child){
  margin-bottom:0;
  padding-bottom:18px;
}
.base-section article ol:not([class]) li:not(:last-child):after{
  position:absolute;
  top:0;
  bottom:0;
  left:18px;
  z-index:-1;
  width:1px;
  background:#212428;
  content:"";
}
.base-section article .c-note{
  margin-bottom:20px;
}
.base-section:has(.e-pill-badge) article h2{
  align-self:center;
}
.base-section:has(.e-pill-badge) article>div:not(.e-pill-badge){
  align-self:start;
}
.base-section:has(.e-pill-badge) .e-pill-badge{
  grid-row:1 /  1;
  align-self:end;
}

.base-section article>.btn{
  align-self:start;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  margin-top:8px;
}
.base-section figure{
  position:relative;
  cursor:pointer;
}
.base-section figure img{
  display:block;
  max-width:100%;
  height:auto;
  border-radius:10px;
}
.base-section figure figcaption:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
}
.base-section figure figcaption{
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  padding:20px;
  color:#fff;
  text-align:left;
}
.base-section figure figcaption strong{
  display:block;
  font-size:20px;
}
.base-section figure figcaption:first-line{
  font-size:20px;
  font-weight:500;
}
.base-section figure figcaption:after{
  right:20px;
  left:auto;
  font-size:40px;
  transform:translate(0, -50%);
}
.base-section .features-list{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-row:1 /  -1;
  grid-column:2;
  gap:20px 10px;
  width:min(400px, 100%);
  margin:0 auto;
}
.base-section .features-list li{
  display:flex;
  flex-direction:column;
  gap:8px;
  align-items:center;
}
.base-section .features-list li .e-icon{
  font-size:45px;
}
.base-section .circle-icons-list{
  -moz-column-count:3;
       column-count:3;
}
.base-section .circle-icons-list li{
  display:flex;
  gap:12px;
  align-items:center;
  padding:10px 0;
}
.base-section .circle-icons-list li>div{
  padding:6px;
  font-size:24px;
  border:1px solid #b5b6b7;
  border-radius:50%;
}
.base-section .circle-icons-list .e-icon{
  padding:4px;
  border:1px solid;
  border-radius:50%;
}
.base-section .c-app-stores{
  width:100%;
  max-width:410px;
}
.base-section .c-accordion--arrow-icon{
  margin-top:-16px;
}
.base-section .c-accordion--arrow-icon .c-accordion__item{
  color:#8b8c8e;
  border-bottom-color:#dfe0e0;
}
.base-section .c-accordion--arrow-icon .c-accordion__item[open]{
  color:currentColor;
}
.base-section .c-accordion--arrow-icon .c-accordion__summary{
  color:inherit;
}
.base-section .c-accordion--arrow-icon .c-accordion__content{
  display:block;
}
.base-section .c-dialog{
  max-width:900px;
}
.base-section .c-dialog h6{
  margin-bottom:16px;
  font-family:inherit;
  font-weight:600;
}
.base-section .c-dialog p:not(:last-child){
  margin-bottom:16px;
}
.base-section .c-dialog p:last-child{
  margin-bottom:0;
}
.base-section .c-dialog img{
  display:block;
  max-width:100%;
  height:auto;
}
.base-section .c-dialog .btn-close{
  position:absolute;
  top:0;
  right:0;
  padding:12px;
  box-shadow:none;
}
.base-section .c-dialog:not(.c-dialog--right-side) .c-dialog__content{
  padding:40px;
}
.base-section .c-dialog:not(.c-dialog--right-side) .c-dialog__content p:last-child{
  margin-bottom:0;
}
.base-section--simple-grid article{
  grid-template-rows:repeat(2, auto);
}
.base-section--small-media article{
  grid-template-columns:1fr 400px;
}
.base-section--small-media.base-section--reverse article{
  grid-template-columns:400px 1fr;
}
.base-section--half-media .container{
  margin-right:0;
  padding-right:0;
}
.base-section--half-media article{
  grid-template-columns:1fr 50vw;
}
.base-section--half-media article img{
  -o-object-fit:cover;
     object-fit:cover;
  max-height:600px;
  border-radius:0;
}
.base-section--half-media.base-section--reverse .container{
  margin-right:auto;
  margin-left:0;
  padding-right:15px;
  padding-left:0;
}
.base-section--half-media.base-section--reverse article{
  grid-template-columns:50vw 1fr;
}
.base-section--reverse article .c-wistia,.base-section--reverse article .wistia-embed-video,.base-section--reverse article>picture{
  grid-column:1;
}
.base-section--grey{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.base-section--grey .e-pill-badge{
  background:#fff;
}
.base-section--dark{
  color:#fff;
  background:#212428;
}
.base-section--404 .container{
  max-width:760px;
}
.base-section--404 img{
  max-width:235px;
  margin:0 auto;
}
.base-section:has(.btn):has(.c-percent-list) article{
  grid-template-rows:auto repeat(2, minmax(-webkit-min-content, 0)) auto;
  grid-template-rows:auto repeat(2, minmax(min-content, 0)) auto;
}
.base-section:has(.btn):has(.features-list) article .btn{
  width:100%;
  max-width:400px;
  margin-top:10px;
}
body[class="page.qure-microinfusion-offer-listicle"] .base-section article{
  align-items:start;
}

body[class="product.face-serum"] .base-section article:has(.circle-icons-list) picture,body[class="product.micro-infusion-targeted-patches"] .base-section article:has(.circle-icons-list) picture{
  order:10;
}

@media screen and (min-width:768px){
  .c-percent-list--columns{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
  }
}

@media screen and (min-width:1200px){
  .base-section--half-media .container{
    max-width:calc(100% - (100vw - 1172px) / 2);
  }
}

@media screen and (min-width:1400px){
  .base-section--half-media .container{
    max-width:calc(100% - (100vw - 1232px) / 2);
  }
}

@media screen and (max-width:991px){
  .base-section article{
    -moz-column-gap:40px;
         column-gap:40px;
  }
  .base-section .circle-icons-list{
    -moz-column-count:2;
         column-count:2;
  }
  .base-section--grey{
    padding-top:40px;
    padding-bottom:40px;
  }
}

@media screen and (max-width:767px){
  .e-features-list{
    gap:8px;
  }
  .e-features-list li{
    gap:4px;
  }
  .e-features-list .e-icon-guarantee{
    font-size:24px;
  }
  .e-features-list .e-icon-shipping-order{
    font-size:16px;
  }
  .e-features-list .e-icon-one-year{
    font-size:18px;
  }
  .c-marked-list li{
    font-size:16px;
  }
  .e-pay-options{
    font-size:12px;
  }
  .c-buy-block{
    max-width:none;
  }
  .c-percent-list+p{
    margin-top:12px;
    text-align:center;
  }
  .c-accordion__content,.c-accordion__summary{
    padding-right:16px;
    padding-left:16px;
  }
  .c-accordion__content picture{
    float:none;
    display:block;
    width:100%;
    margin-left:0;
  }
  .c-accordion__ask-us{
    margin-top:32px;
    margin-bottom:4px;
  }
  .c-accordion .devices-technical__section{
    grid-template-columns:auto;
    gap:24px;
  }
  .base-section article{
    grid-template-rows:auto;
    grid-template-columns:auto;
  }
  .base-section article>h1+figure,.base-section article>h1+picture[data-url],.base-section article>h2+figure,.base-section article>h2+picture[data-url]{
    order:0;
  }
  .base-section article .c-wistia,.base-section article .wistia-embed-video,.base-section article figure,.base-section article>picture{
    order:-1;
    grid-area:auto;
    grid-column:1;
    width:100%;
  }
  .base-section article p+h2{
    margin-top:32px;
  }
  .base-section:has(.e-pill-badge) article{
    justify-items:center;
    text-align:center;
  }
  .base-section:has(.e-pill-badge) .e-pill-badge{
    order:20;
    grid-row:auto;
  }
  .base-section article>.btn{
    width:100%;
    margin-top:0;
  }
  .base-section .features-list{
    order:10;
    grid-area:auto;
    grid-column:1;
    width:100%;
  }
  .base-section .features-list li{
    font-size:16px;
  }
  .base-section .features-list li .e-icon{
    font-size:40px;
  }
  .base-section--small-media article,.base-section--small-media.base-section--reverse article{
    grid-template-columns:auto;
  }
  .base-section--half-media .container{
    padding-right:15px;
  }
  .base-section--half-media article{
    grid-template-columns:auto;
  }
  .base-section--half-media article picture{
    width:100vw;
    margin-right:-15px;
    margin-left:-15px;
  }
  .base-section--half-media article img{
    width:100%;
  }
  .base-section--half-media.base-section--reverse .container{
    padding-left:15px;
  }
  .base-section--half-media.base-section--reverse article{
    grid-template-columns:auto;
  }
  .base-section--half-media.base-section--reverse article picture{
    width:100vw;
    margin-right:-15px;
    margin-left:-15px;
  }
  .base-section--404 h2{
    text-align:center;
  }
  .base-section:has(.btn):has(.c-percent-list) article{
    grid-template-rows:auto;
  }
  body[class="page.qure-microinfusion-offer-listicle"] .base-section article .wistia-embed-video,body[class="page.qure-microinfusion-offer-listicle"] .base-section article picture{
    order:unset;
  }
}
