// Sections styles on current page
@use "@sections/hero-product/hero-product" as *;
@use "@sections/hero-section/hero-section" as *;
@use "@sections/press-reviews/press-reviews" as *;
@use "@sections/highlight/highlight" as *;
@use "@sections/achieve-goals/achieve-goals" as *;
@use "@sections/features-marquee/features-marquee" as *;
@use "@sections/why-using/why-using" as *;
@use "@sections/trusted-reviews/trusted-reviews" as *;
@use "@sections/comparison/comparison" as *;
@use "@sections/comparison-table/comparison-table" as *;
@use "@sections/set-up/set-up" as *;
@use "@sections/science-backed/science-backed" as *;
@use "@sections/guarantee/guarantee" as *;
@use "@sections/treatment/treatment" as *;
@use "@sections/should-know/should-know" as *;


// Styles for current page only
.sections-stack {
    padding-top: 0;
    padding-bottom: 0;
}

.hero-section {
    &:not(.hero-section--secondary) {
        .hero-section__image {
            img {
                object-position: 0 50%;
            }
        }
    }
}

.buyer-opportunity {
    display: flex;
    gap: 6px;

    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        width: 100%;
        padding: 8px 16px 12px;
        font-size: 15px;
        text-align: center;
        border-radius: 12px;
        background: #f7f7f7;

        @include md {
            padding-right: 12px;
            padding-left: 12px;
            font-size: 12px;
        }
    }

    .e-icon {
        font-size: 38px;
    }
}
