// Sections styles on current page
@use "@sections/best-sellers/best-sellers" as *;
@use "@sections/how-it-works/how-it-works" as *;

// Styles for current page only
.sections-stack {
    padding-top: 0;
    padding-bottom: 0;
}

.across-image-banner--flex {
    .container {
        display: grid;
        grid-template: repeat(2, auto) / min(50%, 500px) 1fr;
        gap: 60px 70px;
        align-items: center;

        @include sm {
            display: block;
        }
    }

    picture {
        img {
            @include sm {
                object-position: 50% 100%;
            }
        }
    }

    article {
        grid-row: 1 / -1;
        gap: 24px;
        margin-right: auto;

        @include sm {
            gap: 16px;
            padding-top: 20px;
        }

        h1 {
            display: flex;
            gap: 8px;
            align-items: center;
            line-height: 1;

            @include sm {
                justify-content: center;
            }
        }

        .e-icon-qure {
            font-size: 46px;
        }

        .e-icon-thin-cross {
            font-size: 20px;
        }

        .e-icon-flex {
            margin-top: -4px;
            font-size: 34px;
        }

        .e-pill-badge {
            --badge-base-color: #212428;

            padding: 4px 20px 2px;
            font-weight: 500;
            text-transform: uppercase;
            background: #c7e5db;

            @include sm {
                position: absolute;
                bottom: 50px;
                left: 16px;
                padding-right: 10px;
                padding-left: 10px;
                font-size: 18px;
            }
        }

        .btn {
            max-width: 450px;

            @include sm {
                max-width: none;
            }
        }
    }

    .badges-group {
        display: flex;
        gap: 24px;
        align-self: start;
        margin-top: 40px;
        margin-left: -40px;

        @include sm {
            display: none;
        }

        .e-pill-badge {
            --badge-fill-color: rgb(255 255 255 / 70%);
            --badge-base-color: #212428;

            gap: 6px;
            padding: 6px 16px;
            font-size: 16px;
            font-weight: 600;
            backdrop-filter: blur(4px);
        }

        .e-checkmark {
            box-shadow: inset 0 0 0 1px;
            background: none;
        }
    }

    .c-certified-box {
        align-self: start;
        max-width: 312px;
        margin-top: -50px;
        margin-left: -40px;
        font-weight: 600;
        border-radius: 100px;
        background: rgb(255 255 255 / 70%);
        opacity: 0.8;
        backdrop-filter: blur(4px);

        @include sm {
            display: none;
        }
    }
}
