@use "@root/mixins" as *;
@use "@components/c-product-tile" as *;

.best-sellers {
    $root: &;

    // .best-sellers__list
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;

        @include sm {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
    }

    // .best-sellers__review
    &__review {
        overflow: hidden;
        height: 100%;
        color: inherit;
        border-radius: 10px;
        border-radius: 0 0 10px 10px;
        box-shadow: inset 0 0 0 1px #dfe0e0;

        div {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px 12px;
            font-size: 16px;
            line-height: 1.25;
            text-align: center;

            @include sm {
                gap: 10px;
                padding: 12px 8px;
                font-size: 14px;
            }
        }

        p {
            margin-bottom: 0;

            &:first-child {
                span {
                    @include sm {
                        display: none;
                    }
                }
            }


            &:last-child {
                display: flex;
                flex-direction: column;
                gap: 6px;
                align-items: center;

                @include sm {
                    gap: 0;
                }

                img {
                    width: auto;
                    height: 40px;
                    margin-bottom: 6px;
                }

                small {
                    font-size: 14px;
                }

                span {
                    text-decoration: underline;
                }
            }
        }
    }

    // .best-sellers__item
    &__item {
        display: flex;
        flex-direction: column;

        img {
            @include img-fluid;
        }
    }

    .c-product-tile {
        height: 100%;
    }

    .e-price {
        font-size: 18px;
    }

    .c-product-tile__rating {
        @include sm {
            gap: 8px;
            font-size: 14px;
        }
    }

    .e-rating-stars {
        @include sm {
            font-size: 12px;
        }
    }
}
