.skin-deserves .container{
  max-width:900px;
}
.skin-deserves article{
  text-align:center;
}
.skin-deserves h2{
  margin-bottom:24px;
}
.skin-deserves table{
  width:100%;
  margin-top:32px;
  text-align:center;
}
.skin-deserves tr:nth-child(2n){
  background:#f6f6f7;
}
.skin-deserves th{
  padding-bottom:20px;
  font-size:20px;
  vertical-align:middle;
}
.skin-deserves td{
  padding:24px 5px;
  vertical-align:middle;
}
.skin-deserves .e-icon{
  font-size:20px;
  vertical-align:top;
}
.skin-deserves .e-icon-qure{
  font-size:24px;
}
.skin-deserves .e-icon-checkmark-fill{
  color:#008763;
}
.skin-deserves .e-icon-cross-fill{
  color:#8b8c8e;
}
@media screen and (max-width:767px){
  .skin-deserves article{
    text-align:left;
  }
  .skin-deserves h2{
    margin-bottom:16px;
  }
  .skin-deserves table{
    margin-top:24px;
    font-size:16px;
  }
  .skin-deserves th{
    padding-bottom:12px;
    font-size:inherit;
  }
  .skin-deserves td{
    padding:16px 5px;
  }
  .skin-deserves .e-icon,.skin-deserves .e-icon-qure{
    font-size:inherit;
  }
}
