.e-declaimer{
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
}

.comparison-table{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.comparison-table h2{
  max-width:800px;
  margin:0 auto 40px;
  text-align:center;
}
.comparison-table__content{
  display:flex;
  align-items:flex-end;
}
.comparison-table__content>ul{
  display:flex;
  flex:none;
  flex-direction:column;
  gap:24px;
  width:min(35%, 210px);
  padding:32px;
  border-radius:10px 0 0 10px;
  background:#fff;
}
.comparison-table__content>ul li{
  font-size:16px;
  font-weight:600;
}
.comparison-table__content>ul li:not(:first-child){
  padding-top:24px;
  border-top:1px solid #dfe0e0;
}
.comparison-table__content>ul li.colorize{
  color:#ff5429;
}
.comparison-table__content article{
  --image-size:150px;
  display:flex;
  flex-direction:column;
  gap:24px;
  align-items:center;
  justify-content:flex-start;
  height:100%;
  padding:24px;
  background:#fff;
}
.comparison-table__content article:has(picture){
  height:calc(100% - var(--image-size) / 2);
  margin-top:calc(var(--image-size) / 2);
  padding-top:0;
}
.comparison-table__content article picture{
  display:flex;
  align-items:flex-end;
  min-height:var(--image-size);
  margin-top:calc(-1 * var(--image-size) / 2);
}
.comparison-table__content article img{
  width:auto;
  max-height:var(--image-size);
}
.comparison-table__content article h5{
  margin:0;
  text-align:center;
}
.comparison-table__content article ul{
  display:flex;
  flex-grow:1;
  flex-direction:column;
  gap:12px;
  width:100%;
  min-width:0;
}
.comparison-table__content article li{
  display:flex;
  flex:1;
  gap:10px;
  align-items:center;
  padding:11px 12px;
  border:1px solid #dfe0e0;
  border-radius:5px;
  background:#fff;
}
.comparison-table__content article .e-icon{
  flex:none;
  color:#8b8c8e;
  font-size:20px;
}
.comparison-table .c-swiper{
  flex-grow:1;
  margin:0;
  padding:0;
}
.comparison-table .swiper-slide.swiper-slide-active article{
  border-top-left-radius:10px;
}
.comparison-table .swiper-slide:first-child article{
  background:#c7e5db;
}
.comparison-table .swiper-slide:first-child picture{
  transform:scale(1.05);
}
.comparison-table .swiper-slide:first-child li{
  border-color:#fff;
}
.comparison-table .swiper-slide:first-child .e-icon{
  color:#008763;
}
.comparison-table .swiper-slide:last-child article{
  border-radius:0 10px 10px 0;
}
.comparison-table .e-declaimer{
  margin-top:24px;
  text-align:center;
}
.comparison-table--secondary .comparison-table__content>ul{
  gap:20px;
}
.comparison-table--secondary .comparison-table__content>ul li:not(:first-child){
  padding-top:20px;
}
.comparison-table--secondary .swiper-slide{
  padding-top:13px;
}
.comparison-table--secondary .swiper-slide article{
  display:grid;
  grid-template:auto 1fr/1fr 92px;
  align-items:center;
  height:100%;
  margin-top:0;
  padding-top:24px;
}
.comparison-table--secondary .swiper-slide article picture{
  min-height:0;
  margin:0;
}
.comparison-table--secondary .swiper-slide article h5{
  grid-row:1;
  grid-column:1;
  text-align:left;
}
.comparison-table--secondary .swiper-slide article ul{
  grid-column:1 /  -1;
  height:100%;
}
.comparison-table--secondary .swiper-slide article ul li:last-child{
  min-height:68px;
}
.comparison-table--secondary .swiper-slide article ul li .e-icon{
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
}
.comparison-table--secondary .swiper-slide:first-child article{
  position:relative;
  border-radius:0;
  background:#91baec;
}
.comparison-table--secondary .swiper-slide:first-child article:after{
  position:absolute;
  top:-13px;
  right:0;
  left:0;
  height:13px;
  border-radius:10px 10px 0 0;
  background:#91baec;
  content:"";
}
.comparison-table--secondary .swiper-slide:first-child article .e-icon{
  color:#91baec;
}
@media screen and (min-width:768px){
  .comparison-table--secondary .c-swiper-nav{
    display:none;
  }
}
@media screen and (min-width:1200px){
  .comparison-table .c-swiper-nav{
    display:none;
  }
}
@media screen and (max-width:1199px){
  .comparison-table .swiper-slide.swiper-slide-next article{
    border-radius:0 10px 10px 0;
  }
}
@media screen and (max-width:1120px){
  .comparison-table .swiper-slide:last-child article{
    border-radius:0;
  }
}
@media screen and (max-width:767px){
  .e-declaimer{
    font-size:14px;
  }
  .comparison-table{
    padding-top:40px;
    padding-bottom:40px;
  }
  .comparison-table__content>ul{
    padding:24px 16px;
  }
  .comparison-table__content>ul li{
    font-size:14px;
  }
  .comparison-table__content article{
    --image-size:100px;
    padding:16px;
  }
  .comparison-table__content article li{
    padding:9px 10px;
    font-size:16px;
  }
  .comparison-table__content article .e-icon{
    font-size:inherit;
  }
  .comparison-table .swiper-slide.swiper-slide-active article{
    border-radius:10px 10px 10px 0;
  }
  .comparison-table .e-declaimer{
    margin-top:16px;
  }
  .comparison-table--secondary .swiper-slide{
    padding-top:0;
  }
  .comparison-table--secondary .swiper-slide article{
    grid-template-columns:1fr;
    padding-top:16px;
  }
  .comparison-table--secondary .swiper-slide article picture{
    display:none;
  }
  .comparison-table--secondary .swiper-slide article h5{
    text-align:center;
  }
  .comparison-table--secondary .swiper-slide article ul li{
    font-size:14px;
  }
  .comparison-table--secondary .swiper-slide article ul li:last-child{
    min-height:0;
  }
  .comparison-table--secondary .swiper-slide:first-child article:after{
    display:none;
  }
}
