.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide{
  height:auto;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:32px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-thumbs-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  overflow:unset;
  width:auto;
}
.c-swiper-thumbs-nav .swiper-slide{
  overflow:hidden;
  border-radius:5px;
  cursor:pointer;
  opacity:.5;
  transition:opacity .2s linear;
}
.c-swiper-thumbs-nav .swiper-slide.swiper-slide-thumb-active{
  border:1px solid #212428;
  cursor:default;
  opacity:1;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.c-trusted-video-card{
  overflow:hidden;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-trusted-video-card picture{
  display:block;
}
.c-trusted-video-card picture[data-url],.c-trusted-video-card picture[data-video-id]{
  cursor:pointer;
}
.c-trusted-video-card img{
  display:block;
  width:100%;
  height:auto;
}
.c-trusted-video-card p{
  margin:0;
}
.c-trusted-video-card p:has(.e-checkmark){
  display:flex;
  gap:6px;
  align-items:center;
}
.c-trusted-video-card article{
  display:flex;
  flex-direction:column;
  gap:16px;
  min-height:200px;
  padding:24px;
  font-size:20px;
}
.c-trusted-video-card article div{
  display:flex;
  flex-direction:column;
  margin-top:auto;
  font-size:16px;
}
.c-trusted-video-card .e-checkmark{
  font-size:14px;
}

.c-visual-compare-card{
  --c-visual-compare-card-pill-color:#c8e6dc;
  display:flex;
  flex-direction:column;
  gap:24px;
  overflow:hidden;
  padding:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-visual-compare-card picture img{
  display:block;
  width:100%;
  height:auto;
}
.c-visual-compare-card article{
  display:flex;
  flex-wrap:wrap;
  gap:10px 16px;
  align-items:center;
  justify-content:center;
}
.c-visual-compare-card article>span{
  padding:6px 20px;
  border-radius:30px;
  background:var(--c-visual-compare-card-pill-color);
}
.c-visual-compare-card article:has(a){
  display:grid;
  grid-template:repeat(2, auto)/auto 1fr;
  gap:24px 12px;
}
.c-visual-compare-card article:has(a) p{
  display:flex;
}
.c-visual-compare-card article:has(a) a{
  display:flex;
  grid-column:1 /  -1;
  gap:12px;
  align-items:center;
  padding:12px 16px;
  color:inherit;
  border-radius:10px;
  background:#f6f6f7;
}
.c-visual-compare-card article:has(a) a:hover{
  background:#c8e6dc;
}
.c-visual-compare-card article:has(a) a span{
  text-decoration:underline;
}
.c-visual-compare-card article:has(a) img{
  display:block;
  max-width:100%;
  height:auto;
  max-width:55px;
}
.c-visual-compare-card article:has(a) .e-icon{
  margin-left:auto;
  font-size:14px;
}

.c-advisory-collapse-card{
  overflow:hidden;
}
.c-advisory-collapse-card picture{
  display:block;
  transition:opacity .3s;
  opacity:.55;
}
.c-advisory-collapse-card img{
  width:100%;
  display:block;
  max-width:100%;
  height:auto;
  border-radius:10px;
}
.c-advisory-collapse-card article,.c-advisory-collapse-card summary{
  position:relative;
  cursor:pointer;
}
.c-advisory-collapse-card article:after,.c-advisory-collapse-card summary:after{
  position:absolute;
  right:20px;
  bottom:20px;
  width:30px;
  height:30px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:30px;
  text-align:center;
  border-radius:30px;
  background:#fff;
  content:"\e903";
}
.c-advisory-collapse-card article:hover picture,.c-advisory-collapse-card article[aria-expanded=true] picture,.c-advisory-collapse-card summary:hover picture,.c-advisory-collapse-card summary[aria-expanded=true] picture{
  opacity:1;
}
.c-advisory-collapse-card article[aria-expanded=true]:after,.c-advisory-collapse-card summary[aria-expanded=true]:after{
  content:"\e902";
}
.c-advisory-collapse-card article p,.c-advisory-collapse-card summary p{
  position:absolute;
  right:65px;
  bottom:20px;
  left:20px;
  color:#fff;
  font-size:16px;
}
.c-advisory-collapse-card article p:first-line,.c-advisory-collapse-card summary p:first-line{
  font-size:20px;
  font-weight:500;
}
.c-advisory-collapse-card[open] summary:after{
  content:"\e902";
}
.c-advisory-collapse-card[open] summary+p{
  padding:20px 10px 10px;
}
.c-advisory-collapse-card .collapse{
  transition:none;
}
.c-advisory-collapse-card .collapse:not(.show){
  display:none;
}
.c-advisory-collapse-card .collapse p{
  width:100%;
  margin:0;
  padding:20px 10px 10px;
}

.modal{
  --bs-modal-zindex:1055;
  --bs-modal-width:500px;
  --bs-modal-padding:1rem;
  --bs-modal-margin:.5rem;
  --bs-modal-color:var(--bs-body-color);
  --bs-modal-bg:var(--bs-body-bg);
  --bs-modal-border-color:var(--bs-border-color-translucent);
  --bs-modal-border-width:var(--bs-border-width);
  --bs-modal-border-radius:var(--bs-border-radius-lg);
  --bs-modal-box-shadow:var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius:calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  --bs-modal-header-padding-x:1rem;
  --bs-modal-header-padding-y:1rem;
  --bs-modal-header-padding:1rem 1rem;
  --bs-modal-header-border-color:var(--bs-border-color);
  --bs-modal-header-border-width:var(--bs-border-width);
  --bs-modal-title-line-height:1.5;
  --bs-modal-footer-gap:.5rem;
  --bs-modal-footer-bg:;
  --bs-modal-footer-border-color:var(--bs-border-color);
  --bs-modal-footer-border-width:var(--bs-border-width);
  position:fixed;
  top:0;
  left:0;
  z-index:var(--bs-modal-zindex);
  display:none;
  overflow:hidden auto;
  width:100%;
  height:100%;
  outline:0;
}

.modal-content{
  flex-direction:column;
}

.fade:not(.show){
  opacity:0;
}

.c-modal{
  position:fixed;
  top:0;
  left:0;
  z-index:1055;
  display:none;
  overflow:hidden auto;
  width:100%;
  height:100%;
  outline:0;
}
.c-modal .modal-header{
  padding:10px;
  border:0;
}
.c-modal .modal-header .btn-close{
  padding:5px;
  color:#fff;
  font-size:14px;
  line-height:1;
}
.c-modal .modal-header .btn-close:hover{
  color:#212428;
}
.c-modal .modal-header .btn-close:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  content:"\e904";
}
.c-modal--light .modal-dialog{
  display:flex;
  align-items:center;
  height:calc(100% - var(--bs-modal-margin) * 2);
}
.c-modal--light .modal-header{
  height:30px;
  padding:0;
}
.c-modal--light .modal-header .btn-close{
  position:absolute;
  top:8px;
  right:8px;
  z-index:1;
  margin:0;
  color:#212428;
  font-size:20px;
  border:0;
  outline:none;
  background:none;
}
.c-modal--light .modal-header .btn-close:hover{
  background:#c8e6dc;
}
.c-modal--light .modal-content{
  border-radius:0;
}
.c-modal--light .modal-body{
  padding:0 16px 32px;
}
.c-modal--wistia .modal-dialog{
  max-width:500px;
  margin:0 auto;
}
.c-modal--wistia .modal-header{
  display:flex;
}
.c-modal--wistia .modal-header .btn-close{
  margin-top:calc(-.5 * var(--bs-modal-header-padding-y));
  margin-right:calc(-.5 * var(--bs-modal-header-padding-x));
  margin-bottom:calc(-.5 * var(--bs-modal-header-padding-y));
  margin-left:auto;
  padding:calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
}
.c-modal--wistia .modal-content{
  border:none;
  background:transparent;
}
.c-modal--wistia .modal-body{
  overflow:hidden;
  padding:0;
  border-radius:10px;
}
.c-modal--wistia .c-modal__video{
  overflow:hidden;
  max-width:400px;
  margin:0 auto;
  border-radius:10px;
}
.e-rating-stars{
  position:relative;
  display:inline-block;
  line-height:1;
  letter-spacing:.135em;
}
.e-rating-stars:after,.e-rating-stars:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  white-space:nowrap;
  vertical-align:top;
  content:"\e921\e921\e921\e921\e921";
}
.e-rating-stars:before{
  color:#dfe0e0;
}
.e-rating-stars:after{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:calc(var(--rating) / 5 * 100%);
  color:#91baec;
}

.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:var(--badge-base-color, #8b8c8e);
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h calc(s * 3) calc(l + (100 - l) * .95));
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
}
.e-pill-badge--xs,.e-pill-badge--xxs{
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xxs{
  gap:4px;
  padding:0 10px;
}
.e-pill-badge--fill{
  color:var(--badge-base-color, #fff);
  background:var(--badge-fill-color, #ff5429);
}

.c-product-tile{
  display:flex;
  flex-direction:column;
  gap:14px;
}
.c-product-tile a{
  color:inherit;
}
.c-product-tile a:hover{
  -webkit-text-decoration:underline 1px;
          text-decoration:underline 1px;
  text-underline-offset:2px;
}
.c-product-tile__image{
  position:relative;
  overflow:hidden;
  border-radius:10px;
}
.c-product-tile__image img{
  -o-object-fit:cover;
     object-fit:cover;
  aspect-ratio:1/1;
  display:block;
  max-width:100%;
  height:auto;
}
.c-product-tile__image:after{
  position:absolute;
  inset:0;
  z-index:1;
  visibility:hidden;
  background:var(--image-on-hover);
  background-size:cover;
  opacity:0;
  content:"";
  transition:all .2s linear;
}
.c-product-tile__image>.e-pill-badge{
  position:absolute;
  top:10px;
  left:10px;
  z-index:2;
  text-decoration:none;
}
.c-product-tile__image>.e-pill-badge:not(.e-pill-badge--fill){
  background:hsl(from currentcolor h s calc(l + 35));
}
.c-product-tile__time{
  position:absolute;
  bottom:8px;
  left:8px;
  z-index:2;
  display:flex;
  gap:4px;
  align-items:center;
}
.c-product-tile__time .e-pill-badge{
  gap:4px;
  padding:0 8px;
  color:#212428;
  font-size:12px;
  text-transform:uppercase;
  background:#f6f6f7;
}
.c-product-tile__rating{
  display:flex;
  gap:10px;
  align-items:center;
  font-size:16px;
}
.c-product-tile__name{
  font-family:inherit;
  font-weight:600;
}
.c-product-tile__desc{
  font-size:16px;
  line-height:1.25;
}
.c-product-tile__price{
  margin-top:auto;
}
.c-product-tile__button .btn{
  width:100%;
}

.base-slider{
  text-align:center;
}
.base-slider h2{
  margin-bottom:0;
}
.base-slider h2+p{
  max-width:800px;
  margin:24px auto 0;
}
.base-slider .c-swiper{
  text-align:initial;
}
.base-slider .c-swiper:not(:first-child){
  margin-top:40px;
}
.base-slider .c-swiper picture[data-url],.base-slider .c-swiper picture[data-video-id]{
  position:relative;
  display:block;
  cursor:pointer;
}
.base-slider .c-swiper picture[data-url]:after,.base-slider .c-swiper picture[data-video-id]:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
  font-size:46px;
}
.base-slider .swiper-slide>picture,.base-slider .swiper-slide>picture img{
  height:100%;
}
.base-slider .swiper-slide .c-product-tile__price{
  display:flex;
  justify-content:center;
}
.base-slider--two-cards .container{
  max-width:1022px;
}
.base-slider--tree-cards .container{
  max-width:1082px;
}
.base-slider--bg{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.base-slider--why-work .container{
  display:grid;
  grid-template:repeat(2, auto)/repeat(2, auto);
  gap:40px;
  align-items:center;
}
.base-slider--why-work h2{
  text-align:left;
}
.base-slider--why-work .c-swiper{
  grid-row:2;
  grid-column:1 /  -1;
}
.base-slider--why-work .c-swiper:not(:first-child){
  margin-top:0;
}
.base-slider--why-work .swiper-slide{
  display:flex;
  flex-direction:column;
  gap:16px;
  align-items:center;
  padding:32px;
  text-align:left;
  border-radius:10px;
  background:#f6f6f7;
}
.base-slider--why-work .swiper-slide img{
  max-width:250px;
  height:auto;
  margin-bottom:4px;
}
.base-slider--why-work .swiper-slide h6{
  width:100%;
  margin-bottom:0;
  font-family:inherit;
  font-weight:600;
}
.base-slider--why-work .btn{
  grid-row:1;
  grid-column:2;
  width:100%;
  max-width:300px;
  margin-left:auto;
}
.base-slider .wistia-embed-video .wistia_responsive_padding{
  position:relative;
}
.base-slider .wistia-embed-video .wistia_responsive_wrapper{
  position:absolute;
  inset:0;
}
.base-slider .wistia-embed-video .wistia_embed{
  position:relative;
  width:100%;
  height:100%;
}
.base-slider .wistia-embed-video .wistia_swatch{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:100%;
  height:100%;
  transition:opacity .2s;
  opacity:0;
}
.base-slider .wistia-embed-video img{
  -o-object-fit:contain;
     object-fit:contain;
  width:100%;
  height:100%;
}
@media screen and (max-width:991px){
  .c-visual-compare-card{
    gap:16px;
    padding:16px;
  }
  .c-visual-compare-card article{
    flex-direction:column;
    gap:10px;
  }
  .base-slider .c-swiper:not(:first-child),.base-slider h2+p{
    margin-top:20px;
  }
}
@media screen and (max-width:767px){
  .c-swiper-nav{
    margin-top:16px;
  }
  .c-product-tile{
    gap:8px;
  }
  .c-product-tile__price{
    font-size:16px;
  }
  .c-product-tile__button .btn{
    display:none;
  }
  .base-slider .swiper-slide .c-product-tile .btn{
    display:block;
  }
  .base-slider--bg{
    padding-top:40px;
    padding-bottom:40px;
  }
  .base-slider--why-work .container{
    grid-template:auto/auto;
    gap:24px;
  }
  .base-slider--why-work .c-swiper{
    grid-row:auto;
    grid-column:auto;
  }
  .base-slider--why-work .c-swiper:not(:first-child){
    margin-top:0;
  }
  .base-slider--why-work .btn{
    grid-row:auto;
    grid-column:auto;
    max-width:none;
  }
}
@media (hover:hover){
  .c-product-tile__image:hover:after{
    visibility:visible;
    transform:scale(1.02);
    opacity:1;
  }
}
