.contact-us .container{
  display:flex;
  flex-direction:column;
  gap:40px;
}
.contact-us__text{
  text-align:center;
}
.contact-us__text h2{
  margin-bottom:20px;
}
.contact-us__info{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:20px;
  align-items:center;
  text-align:left;
}
.contact-us__info li{
  display:grid;
  grid-template:repeat(2, auto)/68px auto;
  gap:10px 16px;
  align-items:center;
}
.contact-us__info strong{
  text-transform:uppercase;
}
.contact-us__info .e-icon{
  grid-row:1 /  -1;
  font-size:50px;
  vertical-align:top;
}
.contact-us__feedback{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:12px 24px;
}
.contact-us__feedback-success{
  grid-column:1 /  -1;
  margin-bottom:16px;
  color:#0a0;
  font-size:20px;
  font-weight:500;
  text-align:center;
}
.contact-us__feedback-field:nth-child(n+5){
  grid-column:1 /  -1;
}
.contact-us__feedback-field:has(input[type=checkbox]){
  padding:12px 0;
}
.contact-us__feedback-field:has(input[type=checkbox]) label{
  display:flex;
  gap:12px;
  align-items:center;
}
.contact-us__feedback-field select{
  background:#fff url(/assets/images/arrow_down.svg) calc(100% - 16px) 50% no-repeat;
  background-size:14px;
}
.contact-us__feedback-field .btn{
  width:100%;
  max-width:150px;
}
.contact-us:has(.contact-us__feedback-success) .contact-us__feedback-field:nth-child(5){
  grid-column:auto;
}
@media screen and (max-width:767px){
  .contact-us .container{
    gap:28px;
  }
  .contact-us__text{
    text-align:left;
  }
  .contact-us__text h2{
    margin-bottom:12px;
  }
  .contact-us__info{
    grid-template-columns:auto;
  }
  .contact-us__info li:not(:first-child){
    padding-top:20px;
    border-top:1px solid #dfe0e0;
  }
  .contact-us__feedback{
    grid-template-columns:auto;
  }
  .contact-us__feedback-field:has(input[type=checkbox]) label{
    align-items:flex-start;
    font-size:16px;
    line-height:1.25;
  }
  .contact-us__feedback-field .btn{
    max-width:none;
  }
}
