@use "@root/mixins" as *;

.expert-feature {
    $root: &;

    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f7;

    @include sm {
        margin-bottom: 170px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: #fff;
        background: #212428;
    }

    .container {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        gap: 40px 80px;

        @include md {
            column-gap: 60px;
        }

        @include sm {
            grid-template: auto / auto;
            gap: 20px;
            align-items: center;
        }
    }

    h2 {
        margin-bottom: 0;
        color: inherit;
    }

    .expert-card {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        grid-row: 1 / -1;
        grid-column: 2;
        overflow: hidden;
        min-height: 242px;
        padding: 32px 170px 32px 32px;
        color: #212428;
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        background: #fff;

        @include md {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 16px;
        }

        @include sm {
            grid-row: auto;
            grid-column: auto;
            margin-bottom: -200px;
            padding: 20px 15px;
        }

        blockquote {
            max-width: 334px;
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 22px;

            @include sm {
                max-width: 70%;
            }
        }

        // .expert-feature__author
        &__author {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-top: auto;

            @include sm {
                gap: 8px;
            }

            div {
                display: flex;
                gap: 8px;

                small {
                    font-size: 16px;
                    opacity: 0.5;
                }

                @include sm {
                    span {
                        font-size: 14px;
                    }

                    small {
                        font-size: 14px;
                    }
                }
            }

            .e-pill-badge {
                padding: 4px 8px;
                color: #212428;
                font-size: 12px;
                letter-spacing: 0.24px;
                text-transform: uppercase;
                background: #c7e5db;

                @include sm {
                    font-size: 10px;
                }
            }
        }
    }

    picture {
        position: absolute;
        right: 0;
        bottom: -4px;
        z-index: -1;
        width: 210px;

        @include sm {
            right: -45px;
            bottom: 0;
            width: 184px;
        }

        img {
            @include img-fluid;
        }
    }
}
