.apply-to-join .container{
  display:flex;
  flex-direction:column;
  gap:32px;
}
.apply-to-join h2{
  text-align:center;
}
.apply-to-join a{
  color:inherit;
  text-decoration:underline;
}
.apply-to-join a:hover{
  text-decoration:none;
}
.apply-to-join__form{
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:12px 24px;
}
.apply-to-join__form-success{
  grid-column:span 6;
  margin-bottom:16px;
  color:#0a0;
  font-size:20px;
  font-weight:500;
  text-align:center;
}
.apply-to-join__form-field{
  grid-column:span 2;
}
.apply-to-join__form-field:nth-child(4),.apply-to-join__form-field:nth-child(5){
  grid-column:span 3;
}
.apply-to-join__form-field:nth-child(n+6){
  grid-column:span 6;
}
.apply-to-join__form-terms{
  grid-column:span 6;
  margin-bottom:0;
  padding:12px 0;
}
.apply-to-join__form-submit{
  display:flex;
  flex-direction:column;
  grid-column:span 6;
  gap:12px;
  align-items:center;
  width:100%;
  max-width:220px;
}
.apply-to-join__form-submit .btn{
  width:100%;
}
.apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(4){
  grid-column:span 2;
}
.apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(5),.apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(6){
  grid-column:span 3;
}
.apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(n+7){
  grid-column:span 6;
}
@media screen and (max-width:767px){
  .apply-to-join .container{
    gap:24px;
  }
  .apply-to-join__form{
    grid-template-columns:auto;
  }
  .apply-to-join__form-field,.apply-to-join__form-field:nth-child(4),.apply-to-join__form-field:nth-child(5),.apply-to-join__form-field:nth-child(n+6),.apply-to-join__form-success,.apply-to-join__form-terms{
    grid-column:auto;
  }
  .apply-to-join__form-submit{
    grid-column:auto;
    max-width:none;
  }
  .apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(4){
    grid-column:auto;
  }
  .apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(5),.apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(6){
    grid-column:auto;
  }
  .apply-to-join:has(.apply-to-join__form-success) .apply-to-join__form-field:nth-child(n+7){
    grid-column:auto;
  }
}
