@use "@root/mixins" as *;

.hero-banner {
    position: relative;
    z-index: 1;

    picture {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: min(450px, 70%);
        height: 235px;

        @include sm {
            justify-content: start;
            width: 100%;
            height: 170px;
            padding-top: 24px;
            text-align: center;
        }

        h2 {
            margin-bottom: 0;
        }
    }

    // .hero-banner--holidays
    &--holidays {
        background: #b4b5b6;

        picture {
            img {
                @include sm {
                    object-fit: contain;
                    object-position: 0 0;
                }
            }
        }

        article {
            justify-content: center;
            text-align: left;

            @include sm {
                margin-left: auto;
                color: #fff;
            }

            h2 {
                margin-bottom: 12px;
                color: inherit;

                @include sm {
                    margin-bottom: 8px;
                }
            }

            p {
                line-height: 1.2;

                @include sm {
                    font-size: 14px;
                }
            }
        }
    }

    // .hero-banner--qure-birthday
    &--qure-birthday {
        z-index: 1;
        overflow: hidden;
        background: #f5f3f4;

        article {
            gap: 12px;
            width: min(540px, 70%);

            @include sm {
                gap: 6px;
                justify-content: center;
                padding-top: 0;
                padding-left: 33%;
                text-align: left;
            }

            @media screen and (max-width: 480px) {
                padding-left: 33%;
            }

            h2 {
                margin-bottom: 0;
                font-size: 46px;
                line-height: 1;

                @include sm {
                    font-size: 28px;
                }
            }

            small {
                color: #8b8c8e;

                @include sm {
                    font-size: 14px;
                }
            }
        }


        .qure-birthday-video {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: -1;
            height: 700px;
            transform: translateY(-58%);

            @include sm {
                right: 60%;
                height: 390px;
            }

            @media screen and (max-width: 480px) {
                right: 42%;
            }

            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 20%;
                background: linear-gradient(to left, rgb(0 0 0 / 0%), #f5f3f4);
                content: '';

                @include sm {
                    right: 0;
                    left: auto;
                    background: linear-gradient(to right, rgb(0 0 0 / 0%), #f5f3f4);
                }
            }

            video {
                width: auto;
                height: 100%;
            }
        }
    }
}
