@use "@root/mixins" as *;

.ingredients-video {
    $root: &;

    &--blue-serum {
        background: #d9d9d9;

        .container {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
