@use "@root/mixins" as *;
@use "@components/c-accordion" as *;

.cookies {
    $root: &;

    // .cookies__wrapper
    &__wrapper {
        position: fixed;
        inset: 0;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: rgb(0 0 0 / 40%);
    }

    // .cookies__content
    &__content {
        position: relative;
        padding: 24px 56px 32px 16px;
        background: #fff;

        @include sm {
            padding-right: 16px;
            padding-bottom: 24px;
        }

        a {
            color: inherit;
            text-decoration: underline;

            @include hover {
                text-decoration: none;
            }
        }
    }

    // .cookies__close
    &__close {
        position: absolute;
        top: 12px;
        right: 16px;

        @include sm {
            right: 12px;
        }

        .btn-close {
            font-size: 12px;
            border-radius: 50%;
            background: #fff;
            @include transition;

            @include hover {
                color: #fff;
                background: #212428;
            }
        }
    }

    // .cookies__message
    &__message {
        display: grid;
        grid-template-columns: 1fr 0.75fr 0.25fr;
        gap: 24px;
        align-items: center;

        @include sm {
            grid-template-columns: auto;
            gap: 12px;
        }
    }

    // .cookies__message-text
    &__message-text {
        @include sm {
            max-width: 94%;
        }
    }

    // .cookies__message-buttons
    &__message-buttons {
        display: flex;
        gap: 16px;

        .btn {
            width: 100%;
            padding-top: 11px;
            padding-bottom: 11px;

            @include sm {
                padding-top: 8px;
                padding-bottom: 8px;
                font-size: 16px;
            }
        }
    }

    // .cookies__message-preferences
    &__message-preferences {
        text-align: center;

        .btn-preferences {
            display: inline-block;
            padding: 0;
            font-size: 16px;
            font-weight: 600;
            text-decoration: underline;
            border: 0;
            background: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    // .cookies__preferences
    &__preferences {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        font-size: 16px;

        @include sm {
            grid-template-columns: auto;
            gap: 24px;
            overflow: auto;
            max-height: calc(100vh - 48px);
        }
    }

    // .cookies__preferences-text
    &__preferences-text {
        .btn {
            padding-top: 11px;
            padding-bottom: 11px;
            font-size: inherit;

            @include sm {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    // .cookies__preferences-options
    &__preferences-options {
        margin-top: -12px;

        .toggle {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;

            input {
                position: absolute;
                z-index: -1;
                visibility: hidden;
                opacity: 0;

                &:checked {
                    & + .toggle__slider {
                        background: #34c759;

                        &::before {
                            transform: translateX(16px);
                        }
                    }
                }
            }

            // .toggle__slider
            &__slider {
                position: absolute;
                inset: 0;
                border-radius: 34px;
                background: #ccc;
                cursor: pointer;
                transition: .4s;

                &::before {
                    position: absolute;
                    bottom: 2px;
                    left: 2px;
                    width: 20.22px;
                    height: 20.22px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 .774px #0000000a 0 2.323px 6.194px 0 #00000026 0 2.323px .774px 0 #0000000f;
                    background: #fff;
                    transition: .4s;
                    content: "";
                }
            }
        }

        .c-accordion__item {
            border-bottom-color: #dfe0e0;

            &[open] {
                .c-accordion__summary {
                    &::after {
                        transform: rotate(-90deg);
                        content: "\e900";
                    }
                }
            }

            &:last-child {
                border-bottom: 0;
            }

            p {
                padding-bottom: 12px;
            }
        }

        .c-accordion__summary {
            gap: 16px;
            min-height: 0;
            font-weight: 600;

            &::after {
                width: 16px;
                margin-left: 0;
                padding-left: 3px;
                transform: rotate(90deg);
                @include transition;
                content: "\e900";
            }

            .toggle {
                margin-left: auto;
            }
        }
    }
}
