.c-accordion__list{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.c-accordion__item{
  overflow:hidden;
  font-size:16px;
  border-radius:10px;
  background:#f6f6f7;
}
.c-accordion__item[open] .c-accordion__summary{
  font-weight:600;
}
.c-accordion__item[open] .c-accordion__summary:after{
  content:"\e902";
}
.c-accordion__summary{
  display:flex;
  gap:10px;
  align-items:center;
  width:100%;
  min-height:63px;
  padding:12px 24px;
  color:#212428;
  text-align:left;
  border:0;
  background:none;
}
.c-accordion__summary:after{
  margin-left:auto;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:14px;
  content:"\e903";
}
.c-accordion__content{
  padding:0 24px 24px;
}
.c-accordion__content picture{
  float:right;
  width:min(300px, 40%);
  margin-bottom:25px;
  margin-left:40px;
}
.c-accordion__content picture img{
  max-width:100%;
  height:auto;
}
.c-accordion__content p{
  margin:0;
}
.c-accordion__content p:not(:last-child),.c-accordion__content ul:not(:last-child){
  margin-bottom:16px;
}
.c-accordion__content a{
  color:inherit;
  text-decoration:underline;
}
.c-accordion__content a:hover{
  text-decoration:none;
}
.c-accordion__content a[href^="mailto:"]{
  color:#91baec;
}
.c-accordion__content strong{
  font-weight:500;
}
.c-accordion__content ul:not(.c-marked-list,.c-percent-list){
  padding-left:24px;
}
.c-accordion__content ul:not(.c-marked-list,.c-percent-list) li{
  padding-left:4px;
  list-style:disc;
}
.c-accordion__content ul:not(:last-child){
  margin-bottom:15px;
}
.c-accordion__content ol{
  counter-reset:item;
}
.c-accordion__content ol:not(:last-child){
  margin-bottom:15px;
}
.c-accordion__content ol li{
  position:relative;
  min-height:24px;
  padding-left:36px;
  counter-increment:item;
}
.c-accordion__content ol li:before{
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
  border:1px solid;
  border-radius:24px;
  background:#fff;
  content:counters(item, "");
}
.c-accordion__content ol li:not(:last-child){
  margin-bottom:12px;
}
.c-accordion__content hr{
  margin-top:16px;
  margin-bottom:16px;
  opacity:.1;
}
.c-accordion__ask-us{
  display:flex;
  gap:10px;
  align-items:center;
  justify-content:center;
  margin-top:40px;
  font-weight:500;
}
.c-accordion__ask-us a{
  display:flex;
  gap:6px;
  align-items:center;
  font-weight:inherit;
}
.c-accordion__ask-us a .e-icon{
  font-size:14px;
  vertical-align:top;
  -webkit-text-stroke:.4px;
}
.c-accordion .devices-technical{
  display:flex;
  flex-direction:column;
  gap:24px;
}
.c-accordion .devices-technical ul:not(.c-marked-list){
  margin-bottom:0;
  padding-left:0;
}
.c-accordion .devices-technical ul:not(.c-marked-list) li{
  padding-left:0;
  list-style:none;
}
.c-accordion .devices-technical__buttons{
  display:flex;
  gap:30px;
}
.c-accordion .devices-technical__buttons button{
  padding:0;
  color:#b5b6b7;
  text-align:left;
  border:0;
  background:none;
}
.c-accordion .devices-technical__buttons button.active{
  color:inherit;
  text-decoration:underline;
}
.c-accordion .devices-technical__pane{
  transition:opacity .6s linear;
}
.c-accordion .devices-technical__pane:not(.show){
  position:absolute;
  left:-300vw;
  z-index:-10;
  visibility:hidden;
  max-width:100vw;
  opacity:0;
}
.c-accordion .devices-technical__pane hr{
  margin-top:24px;
  margin-bottom:24px;
}
.c-accordion .devices-technical__section{
  display:grid;
  grid-template-columns:125px 1fr;
  gap:32px;
}
.c-accordion .devices-technical__section p{
  margin-bottom:0;
}
.c-accordion .devices-technical__section ul{
  display:flex;
  flex-direction:column;
  gap:16px;
  font-size:16px;
  line-height:1.2;
}
.c-accordion .devices-technical__section li{
  display:flex;
  gap:8px;
  align-items:center;
}
.c-accordion .devices-technical__section strong{
  font-weight:600;
}
.c-accordion--lines .c-accordion__list{
  gap:0;
}
.c-accordion--lines .c-accordion__item{
  border-bottom:1px solid #8b8c8e;
  border-radius:0;
  background:none;
}
.c-accordion--lines .c-accordion__content,.c-accordion--lines .c-accordion__summary{
  padding-right:0;
  padding-left:0;
}
.c-accordion--arrow-icon .c-accordion__item[open] .c-accordion__summary:after{
  content:"\e905";
}
.c-accordion--arrow-icon .c-accordion__summary:after{
  transform:rotate(90deg);
  content:"\e905";
}

.cookies__wrapper{
  position:fixed;
  inset:0;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  background:rgba(0,0,0,.4);
}
.cookies__content{
  position:relative;
  padding:24px 56px 32px 16px;
  background:#fff;
}
.cookies__content a{
  color:inherit;
  text-decoration:underline;
}
.cookies__close{
  position:absolute;
  top:12px;
  right:16px;
}
.cookies__close .btn-close{
  font-size:12px;
  border-radius:50%;
  background:#fff;
  transition:all .2s linear;
}
.cookies__message{
  display:grid;
  grid-template-columns:1fr .75fr .25fr;
  gap:24px;
  align-items:center;
}
.cookies__message-buttons{
  display:flex;
  gap:16px;
}
.cookies__message-buttons .btn{
  width:100%;
  padding-top:11px;
  padding-bottom:11px;
}
.cookies__message-preferences{
  text-align:center;
}
.cookies__message-preferences .btn-preferences{
  display:inline-block;
  padding:0;
  font-size:16px;
  font-weight:600;
  text-decoration:underline;
  border:0;
  background:none;
}
.cookies__message-preferences .btn-preferences:hover{
  text-decoration:none;
}
.cookies__preferences{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:32px;
  font-size:16px;
}
.cookies__preferences-text .btn{
  padding-top:11px;
  padding-bottom:11px;
  font-size:inherit;
}
.cookies__preferences-options{
  margin-top:-12px;
}
.cookies__preferences-options .toggle{
  position:relative;
  display:inline-block;
  width:40px;
  height:24px;
}
.cookies__preferences-options .toggle input{
  position:absolute;
  z-index:-1;
  visibility:hidden;
  opacity:0;
}
.cookies__preferences-options .toggle input:checked+.toggle__slider{
  background:#34c759;
}
.cookies__preferences-options .toggle input:checked+.toggle__slider:before{
  transform:translateX(16px);
}
.cookies__preferences-options .toggle__slider{
  position:absolute;
  inset:0;
  border-radius:34px;
  background:#ccc;
  cursor:pointer;
  transition:.4s;
}
.cookies__preferences-options .toggle__slider:before{
  position:absolute;
  bottom:2px;
  left:2px;
  width:20.22px;
  height:20.22px;
  border-radius:50%;
  box-shadow:0 0 0 .774px 0 2.323px 6.194px 0 0 2.323px .774px 0 rgba(0,0,0,.039) rgba(0,0,0,.149) rgba(0,0,0,.059);
  background:#fff;
  transition:.4s;
  content:"";
}
.cookies__preferences-options .c-accordion__item{
  border-bottom-color:#dfe0e0;
}
.cookies__preferences-options .c-accordion__item[open] .c-accordion__summary:after{
  transform:rotate(-90deg);
  content:"\e900";
}
.cookies__preferences-options .c-accordion__item:last-child{
  border-bottom:0;
}
.cookies__preferences-options .c-accordion__item p{
  padding-bottom:12px;
}
.cookies__preferences-options .c-accordion__summary{
  gap:16px;
  min-height:0;
  font-weight:600;
}
.cookies__preferences-options .c-accordion__summary:after{
  width:16px;
  margin-left:0;
  padding-left:3px;
  transform:rotate(90deg);
  transition:all .2s linear;
  content:"\e900";
}
.cookies__preferences-options .c-accordion__summary .toggle{
  margin-left:auto;
}
@media screen and (max-width:767px){
  .c-accordion__content,.c-accordion__summary{
    padding-right:16px;
    padding-left:16px;
  }
  .c-accordion__content picture{
    float:none;
    display:block;
    width:100%;
    margin-left:0;
  }
  .c-accordion__ask-us{
    margin-top:32px;
    margin-bottom:4px;
  }
  .c-accordion .devices-technical__section{
    grid-template-columns:auto;
    gap:24px;
  }
  .cookies__content{
    padding-right:16px;
    padding-bottom:24px;
  }
  .cookies__close{
    right:12px;
  }
  .cookies__message{
    grid-template-columns:auto;
    gap:12px;
  }
  .cookies__message-text{
    max-width:94%;
  }
  .cookies__message-buttons .btn{
    padding-top:8px;
    padding-bottom:8px;
    font-size:16px;
  }
  .cookies__preferences{
    grid-template-columns:auto;
    gap:24px;
    overflow:auto;
    max-height:calc(100vh - 48px);
  }
  .cookies__preferences-text .btn{
    padding-top:8px;
    padding-bottom:8px;
  }
}
@media (hover:hover){
  .cookies__content a:hover{
    text-decoration:none;
  }
  .cookies__close .btn-close:hover{
    color:#fff;
    background:#212428;
  }
}
