.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:var(--badge-base-color, #8b8c8e);
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h calc(s * 3) calc(l + (100 - l) * .95));
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
}
.e-pill-badge--xs,.e-pill-badge--xxs{
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xxs{
  gap:4px;
  padding:0 10px;
}
.e-pill-badge--fill{
  color:var(--badge-base-color, #fff);
  background:var(--badge-fill-color, #ff5429);
}

.e-rating-stars{
  position:relative;
  display:inline-block;
  line-height:1;
  letter-spacing:.135em;
}
.e-rating-stars:after,.e-rating-stars:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  white-space:nowrap;
  vertical-align:top;
  content:"\e921\e921\e921\e921\e921";
}
.e-rating-stars:before{
  color:#dfe0e0;
}
.e-rating-stars:after{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:calc(var(--rating) / 5 * 100%);
  color:#91baec;
}

.e-price{
  display:inline-flex;
  flex-wrap:wrap;
  gap:0 8px;
  line-height:1.25;
}
.e-price__current.highlight-price{
  color:var(--discount-color);
}
.e-price__current.savings-price{
  color:#0fa847;
}
.e-price__main{
  display:flex;
  flex-wrap:wrap;
  gap:0 8px;
  align-items:center;
}
.e-price__old{
  color:#8b8c8e;
  text-decoration:line-through;
}
.e-price--highlight .e-price__current{
  color:var(--discount-color);
}
.e-price--profit .e-price__current{
  color:#0fa847;
}
.e-price--strikethrough{
  position:relative;
}
.e-price--strikethrough .e-price__main{
  position:relative;
  flex-wrap:nowrap;
}
.e-price--strikethrough .e-price__main:before{
  position:absolute;
  top:10px;
  width:100%;
  height:2px;
  background:#ff5429;
  transform:rotate(5deg);
  content:"";
}
.e-pay-options{
  display:flex;
  flex-wrap:wrap;
  gap:4px;
  color:#757677;
  font-size:14px;
  line-height:1;
}
.e-pay-options ul{
  display:flex;
  gap:6px;
  align-self:center;
  justify-content:center;
  line-height:1;
}
.e-pay-options img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}

.e-pill-save{
  --e-pill-save-color:#ff5429;
  display:inline-block;
  padding:.15em .6em;
  color:#fff;
  font-weight:600;
  line-height:1;
  text-transform:uppercase;
  border-radius:100px;
  background:var(--e-pill-save-color);
}
.e-pill-save--light{
  color:var(--e-pill-save-color);
  background:hsl(from var(--e-pill-save-color) h s calc(l + 37));
}

.c-bundle-card{
  position:relative;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-bundle-card__discount{
  position:absolute;
  top:10px;
  right:10px;
  font-size:20px;
}
.c-bundle-card__picture{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-bundle-card__picture img{
  border-radius:10px 10px 0 0;
}
.c-bundle-card__content{
  padding:16px;
}
.c-bundle-card__details{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-bottom:24px;
}
.c-bundle-card__rating{
  display:flex;
  gap:8px;
  align-items:center;
  font-size:16px;
  line-height:1;
}
.c-bundle-card__rating small{
  font-size:max(.875em, 12px);
}
.c-bundle-card__name{
  font-size:20px;
  line-height:1.2;
}
.c-bundle-card__price{
  font-size:20px;
  line-height:1;
}
.c-bundle-card__features{
  display:flex;
  flex-wrap:wrap;
  gap:2px 6px;
  align-items:center;
}
.c-bundle-card__features .e-pill-badge{
  color:#227d5f;
}
.c-bundle-card__button{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-bundle-card__button .btn{
  width:100%;
  padding-right:20px;
  padding-left:20px;
}
.c-bundle-card__button .e-pay-options{
  flex-direction:column;
  align-items:center;
  width:100%;
}

.offer-bundle{
  padding-bottom:60px;
}
.offer-bundle__content{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:28px;
}
.offer-bundle__category{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  overflow:hidden;
  padding:16px;
  border-radius:10px;
}
.offer-bundle__category img{
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
}
.offer-bundle__category h3{
  color:#fff;
  font-family:inherit;
  font-weight:500;
  line-height:1.2;
  text-align:center;
}
.offer-bundle__item-modal .c-dialog{
  overflow:hidden scroll;
  max-width:328px;
  border-radius:5px;
}
.offer-bundle__item-modal .c-dialog::backdrop{
  background:#000;
  opacity:.5;
}
.offer-bundle__item-modal .modal-dialog{
  position:relative;
  max-width:328px;
  margin-right:auto;
  margin-left:auto;
}
.offer-bundle__item-modal .modal-content{
  padding:16px;
}
.offer-bundle__item-modal .btn-close{
  position:absolute;
  top:0;
  right:0;
  z-index:10;
  padding:12px;
  border-radius:100px;
  background:#fff;
}
.offer-bundle__item-modal .btn-close img{
  width:24px;
  height:auto;
  vertical-align:top;
}
.offer-bundle__item-modal .bef_price{
  color:#8b8c8e;
}
.offer-bundle__item-modal .reg-price{
  display:block;
  color:#8b8c8e;
}
.offer-bundle__item-modal .nav-link{
  color:inherit;
}
.offer-bundle__item-modal .nav-link:hover{
  border-color:transparent;
}
.offer-bundle__item-modal .nav-link.active{
  font-weight:600;
  border-color:transparent;
  border-bottom-color:#212428;
  border-bottom-width:2px;
}
.offer-bundle__item-modal .included_product{
  grid-template-columns:50px 1fr;
  font-size:16px;
}
.offer-bundle__item-modal .included_product p{
  flex-grow:1;
}
.offer-bundle__item-modal .how-to-use-text{
  padding-bottom:10px;
  font-size:16px;
}
.offer-bundle__item-modal .how-to-use-text p:not(:last-child),.offer-bundle__item-modal .how-to-use-text ul:not(:last-child){
  margin-bottom:15px;
}
.offer-bundle__item-modal .how-to-use-text ul{
  padding-left:24px;
}
.offer-bundle__item-modal .how-to-use-text ul li{
  padding-left:4px;
  list-style:disc;
}
.offer-bundle__item-modal .e-pill-badge{
  margin-bottom:15px;
  color:inherit;
}
.offer-bundle-slider .offer-bundle__content{
  display:flex;
  gap:60px;
  padding-left:16px;
}
.offer-bundle-slider .offer-bundle__name{
  flex:none;
  width:300px;
  border-radius:0;
}
.offer-bundle-slider .offer-bundle__name h3{
  margin-bottom:18px;
}
.offer-bundle-slider .offer-bundle__slider{
  flex-grow:1;
  min-width:0;
}
@media screen and (min-width:768px){
  .offer-bundle-slider .offer-bundle__slider .c-swiper{
    margin-right:0;
    margin-left:0;
    padding-left:0;
  }
}
@media screen and (min-width:1200px){
  .offer-bundle-slider .offer-bundle__name{
    margin-left:max(0px, (100% - 1172px) / 2 + 8px);
  }
}
@media screen and (min-width:1400px){
  .offer-bundle-slider .offer-bundle__name{
    margin-left:max(0px, (100% - 1232px) / 2 + 8px);
  }
}
@media screen and (max-width:991px){
  .offer-bundle-slider .offer-bundle__content{
    flex-direction:column;
    gap:20px;
    padding-right:16px;
  }
  .offer-bundle-slider .offer-bundle__name{
    width:100%;
  }
}
@media screen and (max-width:767px){
  .e-pay-options{
    font-size:12px;
  }
  .c-bundle-card__discount{
    top:4px;
    right:6px;
    font-size:12px;
  }
  .c-bundle-card__content{
    padding:12px;
  }
  .c-bundle-card__details{
    gap:4px;
    margin-bottom:16px;
  }
  .c-bundle-card__rating{
    gap:6px;
    font-size:12px;
  }
  .c-bundle-card__name{
    font-size:16px;
  }
  .c-bundle-card__price{
    font-size:14px;
  }
  .c-bundle-card__button .btn{
    padding-top:7px;
    padding-bottom:7px;
    font-size:14px;
  }
  .offer-bundle{
    padding-bottom:40px;
  }
  .offer-bundle__content{
    grid-template-columns:repeat(2, 1fr);
    gap:16px;
  }
  .offer-bundle__category h3{
    font-size:22px;
  }
  .offer-bundle-slider{
    padding-top:40px;
  }
}
