.e-author{
  display:flex;
  gap:10px;
  align-items:center;
}
.e-author img{
  width:100%;
  max-width:25px;
  height:auto;
  vertical-align:top;
  border-radius:50%;
}

.e-checkmark{
  width:1em;
  height:1em;
  color:#212428;
  line-height:1em;
  text-align:center;
  border-radius:50%;
  background:#c7e5db;
}
.e-checkmark:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:.35em;
  line-height:inherit;
  vertical-align:top;
  content:"\e901";
}

.e-verified-customer{
  --e-verified-customer-bg:rgba(199,229,219,.3);
  display:inline-flex;
  gap:5px;
  align-items:center;
  padding:4px 10px;
  font-size:14px;
  border-radius:5px;
  background:var(--e-verified-customer-bg);
}
.e-verified-customer .e-checkmark{
  vertical-align:top;
}

.c-trusted-review-card{
  display:grid;
  grid-template:repeat(3, auto)/repeat(2, auto);
  gap:24px;
  align-content:start;
  overflow:hidden;
  padding-bottom:24px;
  border-radius:10px;
  background:#fff;
}
.c-trusted-review-card:has(a){
  grid-template-rows:repeat(3, auto) 1fr;
}
.c-trusted-review-card article,.c-trusted-review-card picture{
  grid-column:1 /  -1;
}
.c-trusted-review-card article{
  padding:0 24px;
  line-height:1.25;
}
.c-trusted-review-card article p{
  font-size:16px;
}
.c-trusted-review-card img{
  width:100%;
}
.c-trusted-review-card h6{
  margin-bottom:20px;
  font-family:inherit;
  font-weight:500;
  line-height:1;
}
.c-trusted-review-card a{
  display:grid;
  grid-template:repeat(2, auto)/45px 1fr;
  grid-column:1 /  -1;
  gap:0 12px;
  align-self:end;
  margin:0 24px;
  padding:12px;
  color:inherit;
  font-size:16px;
  border-radius:10px;
  background:#f6f6f7;
}
.c-trusted-review-card a:hover{
  text-decoration:none;
  background:#c8e6dc;
}
.c-trusted-review-card a img{
  grid-row:1 /  -1;
}
.c-trusted-review-card a small{
  font-size:.875em;
}
.c-trusted-review-card a span{
  text-decoration:underline;
}
.c-trusted-review-card .e-author{
  align-self:center;
  margin-left:24px;
}
.c-trusted-review-card .e-verified-customer{
  margin-right:24px;
  margin-left:auto;
}
.c-trusted-review-card--short{
  gap:10px 24px;
  background:#f6f6f7;
}
.c-trusted-review-card--short .e-verified-customer{
  gap:8px;
  font-size:18px;
  background:none;
}

.c-marked-list{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-marked-list li{
  position:relative;
  padding-left:1.75em;
  line-height:1.25;
}
.c-marked-list li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}
.c-marked-list--fill li:before{
  color:#fff;
  background:#91baec;
}

.achieve-goals .container{
  display:flex;
  flex-direction:column;
  gap:32px;
}
.achieve-goals h2{
  margin-bottom:0;
  text-align:center;
}
.achieve-goals .c-swiper-thumbs .swiper-slide .btn{
  width:100%;
  padding:11px 20px;
  font-size:18px;
  font-weight:400;
  border-width:1px;
}
.achieve-goals .c-swiper-thumbs .swiper-slide.swiper-slide-thumb-active .btn{
  color:#fff;
  background:#212428;
  pointer-events:none;
}
.achieve-goals .c-swiper:not(.c-swiper-thumbs) .swiper-slide{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:60px;
  align-items:center;
}
.achieve-goals .swiper-slide article{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.achieve-goals .swiper-slide article h3{
  margin-bottom:0;
}
.achieve-goals .swiper-slide article hr{
  margin:0;
}
.achieve-goals .swiper-slide article ul{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.achieve-goals .swiper-slide article ul li{
  position:relative;
  padding-left:1.75em;
  line-height:1.25;
}
.achieve-goals .swiper-slide article ul li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}
.achieve-goals .swiper-slide article ul{
  gap:16px;
}
@media screen and (min-width:768px){
  .achieve-goals .c-swiper-nav{
    display:none;
  }
}
@media screen and (min-width:992px){
  .achieve-goals .c-swiper-thumbs{
    align-self:center;
    max-width:900px;
  }
}
@media screen and (max-width:991px){
  .achieve-goals .c-swiper:not(.c-swiper-thumbs) .swiper-slide{
    gap:40px;
  }
}
@media screen and (max-width:767px){
  .c-trusted-review-card{
    gap:16px;
    padding-bottom:16px;
  }
  .c-trusted-review-card article{
    padding:0 16px;
    font-size:16px;
  }
  .c-trusted-review-card a{
    margin:0 16px;
  }
  .c-trusted-review-card .e-author{
    margin-left:16px;
  }
  .c-trusted-review-card .e-verified-customer{
    margin-right:16px;
  }
  .c-trusted-review-card--short{
    gap:8px;
    font-size:16px;
  }
  .c-trusted-review-card--short .e-verified-customer{
    font-size:inherit;
  }
  .c-marked-list li{
    font-size:16px;
  }
  .achieve-goals .container{
    gap:24px;
  }
  .achieve-goals .c-swiper-thumbs .swiper-slide .btn{
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
  }
  .achieve-goals .c-swiper:not(.c-swiper-thumbs) .swiper-slide{
    grid-template-columns:auto;
    gap:20px;
  }
  .achieve-goals .swiper-slide article{
    gap:14px;
  }
  .achieve-goals .swiper-slide article ul li{
    font-size:16px;
  }
}
