@use "@root/mixins" as *;
@use "@elements/e-rating-stars" as *;
@use "@components/c-note" as *;

.science-backed {
    $root: &;

    .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    &__text {
        max-width: 800px;
        text-align: center;

        h2 {
            margin-bottom: 24px;

            @include sm {
                margin-bottom: 16px;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        gap: min(3%, 50px);
        width: 100%;
        max-width: 954px;

        @include sm {
            grid-template-columns: auto;
            gap: 32px;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & > img:first-child {
            align-self: center;
            object-fit: contain;
            width: auto;
            height: 140px;
            margin-bottom: 12px;
        }

        h4 {
            margin-bottom: 0;
            padding: 28px 0;
            font-size: 28px;
            line-height: unset;
            text-align: center;
            border: 1px solid #dfe0e0;
            border-radius: 10px;

            @include sm {
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }

        ul {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            padding: 32px 30px;
            border: 1px solid #dfe0e0;
            border-radius: 10px;

            @include sm {
                padding: 24px;
            }

            li {
                display: flex;
                flex-direction: column;
                gap: 12px;
                align-items: center;
                width: 100%;
                max-width: 90px;
                font-size: 16px;
                line-height: 1.2;
                text-align: center;

                @include sm {
                    font-size: 14px;
                }

                .e-icon {
                    font-size: 60px;

                    @include sm {
                        font-size: 50px;
                    }
                }
            }
        }

        .c-accordion {
            margin-bottom: 12px;
            padding: 8px 30px;
            border: 1px solid #dfe0e0;
            border-radius: 10px;

            @include sm {
                padding: 0 16px;
            }
        }

        .c-accordion__item {
            &:last-child {
                border-bottom: 0;
            }

            small {
                --note-bg: #f6f6f7;

                @include note;
            }
        }

        .quote {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            max-width: 300px;
            font-size: 14px;
            text-align: center;

            p {
                padding-top: 16px;
                padding-bottom: 16px;
                line-height: 1.2;
            }

            small {
                font-size: 12px;
            }

            .e-author {
                gap: 6px;
                line-height: 1;

                img {
                    max-width: 16px;
                }
            }
        }
    }

    &__or {
        align-self: center;
        font-family: Canela, serif;
        font-size: 38px;
        font-weight: 300;
        text-align: center;

        @include sm {
            font-size: 28px;
        }
    }

    &--single {
        #{$root}__content {
            grid-template-columns: repeat(2, 1fr);
            max-width: none;

            @include sm {
                grid-template-columns: auto;
            }

            picture {
                img {
                    @include img-fluid;
                    border-radius: 10px;
                }
            }
        }

        #{$root}__text {
            display: none;

            @include sm {
                display: block;
            }
        }

        #{$root}__data {
            & > article {
                display: grid;
                grid-template: repeat(2, auto) / auto 1fr;
                gap: 0 24px;
                align-items: center;
                margin-bottom: 12px;

                img {
                    grid-row: 1 / -1;
                    object-fit: contain;
                    width: auto;
                    height: 120px;

                    @include sm {
                        height: 100px;
                    }
                }

                h3 {
                    align-self: end;
                }

                p {
                    align-self: start;
                }
            }
        }
    }

}
