@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@elements/e-top-posts" as *;
@use "@components/c-post-tile" as *;

.blog-section {
    $root: &;

    .container {
        display: grid;
        grid-template: repeat(2, auto) / 1fr min(342px, 34%);
        gap: 60px;
        align-items: start;

        @include md {
            gap: 40px;
        }

        @include sm {
            grid-template: auto / auto;
        }
    }

    // blog-section__sections
    &__sections,
    // blog-section__posts
    &__posts {
        display: flex;
        flex-direction: column;
        gap: 28px;

        @include sm {
            gap: 20px;
        }

        h2,
        & > h6 {
            margin-bottom: 0;
        }
    }

    // blog-section__sections
    &__sections {
        & > ul {
            display: flex;
            gap: 24px;
            max-width: 648px;

            @include sm {
                flex-direction: column;
                gap: 12px;
                max-width: none;
            }

            a {
                position: relative;
                display: block;
            }

            img {
                width: 100%;
                @include img-fluid;
                vertical-align: top;
                border-radius: 10px;
            }

            h6 {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                text-align: center;
            }
        }
    }

    // blog__posts
    &__posts {
        & > ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;

            @include lg {
                grid-template-columns: repeat(2, 1fr);
            }

            @include sm {
                grid-template-columns: auto;
            }
        }

        .c-post-tile {
            height: 100%;
        }

        & > div:last-child {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;

            button {
                display: flex;
                flex: 0 0 40px;
                align-items: center;
                justify-content: center;
                height: 40px;
                color: #212428;
                font-size: 12px;
                border: 1px solid;
                border-radius: 50px;
                background: #fff;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    border-color: #c8e6dc;
                    background: #c8e6dc;
                }

                &:first-child {
                    .e-icon {
                        transform: rotate(-180deg);
                    }
                }

                &[disabled] {
                    color: #8b8c8e;
                    pointer-events: none;
                    opacity: 0.3;
                }
            }
        }
    }

    // blog__top-list
    &__top-list {
        grid-row: 1 / -1;
        grid-column: 2;

        @include sm {
            display: none;
        }

        h6 {
            font-family: inherit;
            font-weight: 600;
        }
    }
}
