@use "@root/mixins" as *;
@use "@components/c-accordion" as *;

.set-up {
    $root: &;

    &:not(.set-up--no-video) {
        .container {
            display: grid;
            grid-template: repeat(2, auto) / 280px 1fr;
            gap: 30px 60px;

            @include md {
                gap: 24px;
            }

            @include sm {
                grid-template: auto / auto;
            }

            &:has(.btn) {
                grid-template-rows: auto minmax(min-content, 0) auto;
            }
        }
    }

    img {
        width: 100%;
        @include img-fluid;
        vertical-align: top;
    }

    picture[data-video-id] {
        grid-row: 1 / -1;
        @include play;

        @include sm {
            grid-row: auto;
        }

        img {
            border-radius: 10px;
        }
    }

    h2 {
        align-self: end;
        margin-bottom: 0;

        @include sm {
            order: -1;
        }
    }

    ol {
        display: flex;
        gap: 40px;
        counter-reset: item;

        @include md {
            gap: 24px;
        }

        @include sm {
            flex-direction: column;
        }

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 18px;
            width: 100%;
            counter-increment: item;

            @include sm {
                display: grid;
                grid-template: repeat(2, auto) / 100px 1fr;
                gap: 12px 16px;
            }

            &::before {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 30px;
                background: #fff;
                content: counters(item, "");
            }

            p {
                font-size: 16px;
                line-height: 1.25;
            }

            a {
                color: inherit;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        h6 {
            margin-bottom: 0;
            font-family: inherit;
            font-weight: 500;
        }

        picture {
            @include sm {
                grid-row: 1 / -1;
            }
        }

        img {
            border-radius: 5px;
        }
    }

    .btn {
        align-self: start;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
        text-transform: uppercase;
    }

    // set-up--no-video
    &--no-video {
        .container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;

            @include sm {
                gap: 24px;
            }
        }

        h2 {
            align-self: unset;
            margin-bottom: 0;
        }

        .c-accordion {
            width: 100%;
            max-width: 400px;
        }
    }

    &--qa:not(.set-up--no-video) {
        .container {
            @media screen and (min-width: 768px) {
                grid-template-rows: repeat(3, auto);
                gap: 24px 40px;
                align-items: center;
                max-width: 1072px;
            }
        }

        h2 {
            font-family: inherit;
            font-weight: 600;

            @media screen and (min-width: 768px) {
                grid-row: 1;
                grid-column: 1 / -1;
            }

            & + p {
                @include sm {
                    order: -1;
                }
            }
        }

        picture[data-video-id] {
            @media screen and (min-width: 768px) {
                grid-row: 2 / 4;
                grid-column: 1;
            }
        }

        ol {
            @media screen and (min-width: 768px) {
                flex-direction: column;
                grid-column: 2;
                gap: 24px;

                li {
                    display: grid;
                    grid-template: repeat(2, auto) / 200px 1fr;
                    row-gap: 6px;
                    align-items: center;
                }

                picture {
                    grid-row: 1 / -1;
                }

                h6 {
                    align-self: end;
                }

                p {
                    align-self: start;
                }
            }
        }
    }
}
