.hero-qa .container{
  max-width:1072px;
}
.hero-qa article{
  display:flex;
  flex-direction:column;
  gap:32px;
}
.hero-qa article h1{
  margin-bottom:-10px;
  font-family:inherit;
  font-weight:600;
}
.hero-qa article div{
  display:flex;
  gap:20px;
  padding:24px 12px;
  line-height:1.2;
  border-top:1px solid #dfe0e0;
  border-bottom:1px solid #dfe0e0;
}
.hero-qa article ul{
  display:flex;
  gap:12px;
  margin-left:auto;
}
.hero-qa article ul li{
  display:flex;
  gap:6px;
  align-items:center;
}
.hero-qa article .e-icon{
  font-size:14px;
  vertical-align:top;
}
.hero-qa article img{
  border-radius:10px;
  display:block;
  max-width:100%;
  height:auto;
}
@media screen and (max-width:767px){
  .hero-qa .container{
    padding-right:24px;
    padding-left:24px;
  }
  .hero-qa article{
    gap:24px;
  }
  .hero-qa article div{
    padding:12px 6px;
    font-size:14px;
  }
  .hero-qa article .e-icon{
    font-size:12px;
  }
  .hero-qa article picture{
    margin-right:-24px;
    margin-left:-24px;
  }
  .hero-qa article img{
    border-radius:0;
  }
}
