.c-approved-by{
  gap:8px;
  align-items:center;
  font-size:16px;
  line-height:1.2;
}
.c-approved-by,.c-approved-by ul{
  display:flex;
}
.c-approved-by li{
  position:relative;
}
.c-approved-by li+li{
  margin-left:-8px;
}
.c-approved-by li:first-child{
  z-index:6;
}
.c-approved-by li:nth-child(2){
  z-index:5;
}
.c-approved-by li:nth-child(3){
  z-index:4;
}
.c-approved-by li:nth-child(4){
  z-index:3;
}
.c-approved-by li:nth-child(5){
  z-index:2;
}
.c-approved-by li:nth-child(6){
  z-index:1;
}
.c-approved-by img{
  display:block;
  width:46px;
  height:46px;
  vertical-align:top;
  border:3px solid #fff;
  border-radius:50%;
  box-shadow:0 5px 5px 0 rgba(0,0,0,.25);
}

.c-info-bar{
  font-size:16px;
  line-height:16px;
}
.c-info-bar:before{
  display:inline-block;
  width:14px;
  height:14px;
  margin-right:6px;
  color:#fff;
  font-size:8px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:14px;
  text-align:center;
  vertical-align:top;
  border-radius:50%;
  background:#fea500;
  content:"\e90c";
}

.c-marked-list{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-marked-list li{
  position:relative;
  padding-left:1.75em;
  line-height:1.25;
}
.c-marked-list li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}
.c-marked-list--fill li:before{
  color:#fff;
  background:#91baec;
}

.c-note{
  display:block;
  padding:10px 12px;
  font-size:16px;
  line-height:1.25;
  border-radius:10px;
  background:var(--note-bg, #eef7f4);
  max-width:500px;
}
.c-note p{
  margin:0;
}
.c-note p+p{
  margin-top:15px;
}
.c-note p+ul{
  margin-top:5px;
}
.c-note strong{
  font-weight:600;
}
.c-note ul{
  padding-left:24px;
}
.c-note ul li{
  padding-left:4px;
  list-style:disc;
}
.c-note a{
  color:inherit;
  text-decoration:underline;
}
.c-note a:hover{
  text-decoration:none;
}
.c-note--info,.c-note--warning{
  position:relative;
  padding-left:36px;
}
.c-note--info:before,.c-note--warning:before{
  position:absolute;
  top:12px;
  left:12px;
  width:16px;
  height:16px;
  color:#fff;
  font-size:8px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:16px;
  text-align:center;
  border-radius:16px;
  content:"\e90c";
}
.c-note--info{
  background:#f4f8fd;
}
.c-note--info:before{
  background:#91baec;
}
.c-note--warning{
  background:#ffeeea;
}
.c-note--warning:before{
  background:#ff5429;
}
.page\.qure-microinfusion-offer-listicle .c-note{
  max-width:none;
  padding:12px 16px;
  color:#008763;
  font-size:18px;
  background:#e5fff7;
}

.hero-section .container{
  display:flex;
  flex-direction:row-reverse;
  gap:60px;
  margin-right:0;
  padding-right:0;
}
.hero-section__image{
  flex:0 0 50vw;
}
.hero-section__image img{
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
  vertical-align:top;
}
.hero-section__content{
  display:flex;
  flex-grow:1;
  flex-direction:column;
  gap:32px;
  padding-top:40px;
  padding-bottom:40px;
}
.hero-section__content-header{
  padding-top:10px;
}
.hero-section__content-header .c-approved-by{
  margin-bottom:30px;
}
.hero-section__content-header h1{
  margin-bottom:20px;
  font-size:43px;
}
.hero-section__content-button{
  display:flex;
  flex-direction:column;
  gap:14px;
  align-items:center;
}
.hero-section__content-button .btn{
  width:100%;
  text-transform:uppercase;
}
.hero-section__content-footer{
  display:flex;
  flex-direction:column;
  gap:32px;
}
.hero-section__content-footer picture{
  width:100%;
  max-width:340px;
  position:relative;
  display:block;
}
.hero-section__content-footer picture:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
}
.hero-section__content-footer picture{
  cursor:pointer;
}
.hero-section__content-footer picture:before{
  position:absolute;
  bottom:28px;
  left:16px;
  color:#fff;
  font-size:20px;
  font-weight:500;
  content:attr(data-label-text);
}
.hero-section__content-footer picture:after{
  inset:auto 16px 16px auto;
  font-size:35px;
  transform:none;
}
.hero-section__content-footer picture img{
  width:100%;
  height:auto;
  vertical-align:top;
  border-radius:10px;
}
.page\.qure-microinfusion-offer-listicle .hero-section__content{
  padding-top:20px;
  padding-bottom:0;
}
.page\.qure-microinfusion-offer-listicle .hero-section__content-footer .c-note{
  align-self:flex-start;
}
@media screen and (min-width:1200px){
  .hero-section .container{
    max-width:calc(100% - (100vw - 1172px) / 2);
  }
}
@media screen and (min-width:1400px){
  .hero-section .container{
    max-width:calc(100% - (100vw - 1232px) / 2);
  }
}
@media screen and (max-width:991px){
  .hero-section .container{
    gap:40px;
  }
  .hero-section__content-header h1{
    font-size:34px;
  }
}
@media screen and (max-width:767px){
  .c-approved-by{
    font-size:14px;
  }
  .c-approved-by img{
    width:26px;
    height:26px;
    border-width:2px;
  }
  .c-marked-list li,.page\.qure-microinfusion-offer-listicle .c-note{
    font-size:16px;
  }
  .hero-section .container{
    flex-direction:column;
    gap:20px;
    padding-right:15px;
  }
  .hero-section__image{
    width:100vw;
    margin-right:-16px;
    margin-left:-16px;
  }
  .hero-section__image img{
    width:100%;
  }
  .hero-section__content{
    gap:16px;
    padding-top:0;
  }
  .hero-section__content-header{
    text-align:center;
    padding-top:0;
  }
  .hero-section__content-header .c-approved-by{
    justify-content:center;
    margin-bottom:20px;
  }
  .hero-section__content-header h1{
    margin-bottom:8px;
    font-size:28px;
  }
  .hero-section__content-header p{
    font-size:14px;
  }
  .hero-section__content-button .btn{
    font-size:18px;
  }
  .hero-section__content-footer{
    gap:20px;
  }
  .page\.qure-microinfusion-offer-listicle .hero-section .container{
    flex-direction:column-reverse;
  }
  .page\.qure-microinfusion-offer-listicle .hero-section__content-footer .c-note{
    align-self:center;
  }
}
