.e-top-posts{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.e-top-posts a{
  display:grid;
  grid-template:repeat(2, auto)/60px 1fr;
  gap:8px 12px;
  align-items:center;
  padding:16px 12px;
  color:inherit;
  border-radius:10px;
  background:#f6f6f7;
}
.e-top-posts a:hover{
  text-decoration:none;
  background:#c8e6dc;
}
.e-top-posts img{
  grid-row:1 /  -1;
  border-radius:5px;
  display:block;
  max-width:100%;
  height:auto;
}
.e-top-posts span{
  align-self:end;
  color:#8b8c8e;
  font-size:18px;
  font-weight:400;
}

.e-rating-stars{
  position:relative;
  display:inline-block;
  line-height:1;
  letter-spacing:.135em;
}
.e-rating-stars:after,.e-rating-stars:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  white-space:nowrap;
  vertical-align:top;
  content:"\e921\e921\e921\e921\e921";
}
.e-rating-stars:before{
  color:#dfe0e0;
}
.e-rating-stars:after{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:calc(var(--rating) / 5 * 100%);
  color:#91baec;
}

.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:var(--badge-base-color, #8b8c8e);
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h calc(s * 3) calc(l + (100 - l) * .95));
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
}
.e-pill-badge--xs,.e-pill-badge--xxs{
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xxs{
  gap:4px;
  padding:0 10px;
}
.e-pill-badge--fill{
  color:var(--badge-base-color, #fff);
  background:var(--badge-fill-color, #ff5429);
}

.c-post-tile{
  display:flex;
  flex-direction:column;
  border-radius:10px;
  box-shadow:inset 0 0 0 1px #dfe0e0;
}
.c-post-tile__image{
  position:relative;
  color:inherit;
}
.c-post-tile__image img{
  width:100%;
  display:block;
  max-width:100%;
  height:auto;
  vertical-align:top;
  border-radius:5px;
}
.c-post-tile__image .e-pill-badge{
  position:absolute;
  top:12px;
  left:12px;
  color:inherit;
  text-decoration:none;
  background:#f6f6f7;
}
.c-post-tile__content{
  display:flex;
  flex-grow:1;
  flex-direction:column;
  padding:24px;
}
.c-post-tile__content .btn{
  margin-top:auto;
  padding-right:20px;
  padding-left:20px;
}
.c-post-tile__time{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom:20px;
  font-size:16px;
  white-space:nowrap;
}
.c-post-tile__title{
  margin-bottom:16px;
  font-family:inherit;
  font-weight:500;
}

.blog-section .container{
  display:grid;
  grid-template:repeat(2, auto)/1fr min(342px, 34%);
  gap:60px;
  align-items:start;
}
.blog-section__posts,.blog-section__sections{
  display:flex;
  flex-direction:column;
  gap:28px;
}
.blog-section__posts h2,.blog-section__posts>h6,.blog-section__sections h2,.blog-section__sections>h6{
  margin-bottom:0;
}
.blog-section__sections>ul{
  display:flex;
  gap:24px;
  max-width:648px;
}
.blog-section__sections>ul a{
  position:relative;
  display:block;
}
.blog-section__sections>ul img{
  width:100%;
  display:block;
  max-width:100%;
  height:auto;
  vertical-align:top;
  border-radius:10px;
}
.blog-section__sections>ul h6{
  position:absolute;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  text-align:center;
}
.blog-section__posts>ul{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:24px;
}
.blog-section__posts .c-post-tile{
  height:100%;
}
.blog-section__posts>div:last-child{
  display:flex;
  gap:16px;
  align-items:center;
  justify-content:center;
}
.blog-section__posts>div:last-child button{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.blog-section__posts>div:last-child button:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.blog-section__posts>div:last-child button:first-child .e-icon{
  transform:rotate(-180deg);
}
.blog-section__posts>div:last-child button[disabled]{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.blog-section__top-list{
  grid-row:1 /  -1;
  grid-column:2;
}
.blog-section__top-list h6{
  font-family:inherit;
  font-weight:600;
}
@media screen and (max-width:1120px){
  .blog-section__posts>ul{
    grid-template-columns:repeat(2, 1fr);
  }
}
@media screen and (max-width:991px){
  .blog-section .container{
    gap:40px;
  }
}
@media screen and (max-width:767px){
  .blog-section .container{
    grid-template:auto/auto;
  }
  .blog-section__posts,.blog-section__sections{
    gap:20px;
  }
  .blog-section__sections>ul{
    flex-direction:column;
    gap:12px;
    max-width:none;
  }
  .blog-section__posts>ul{
    grid-template-columns:auto;
  }
  .blog-section__top-list{
    display:none;
  }
}
