.e-countdown{
  display:flex;
  justify-content:center;
}
.e-countdown [data-key]{
  display:flex;
  flex-direction:column;
  gap:4px;
  align-items:center;
  width:60px;
  font-weight:600;
  line-height:1;
  letter-spacing:2px;
}
.e-countdown [data-key]:after{
  font-size:.6em;
  font-weight:400;
  letter-spacing:0;
  text-transform:uppercase;
  content:attr(data-key);
}
.e-countdown [data-key]:not(:first-child){
  border-left:1px solid;
}

.announcement-bar{
  position:fixed;
  top:0;
  z-index:9;
  display:flex;
  align-items:center;
  width:100%;
  padding:15px 0;
  font-family:TT Commons,system-ui,sans-serif;
  font-size:var(--ans-bar-font-size, 16px);
  font-weight:var(--anc-bar-font-weight, 400);
  background:#fff;
}
.announcement-bar-content>a{
  margin:0 10px;
  padding:1px 6px;
  color:var(--white-color);
  font-size:14px;
  text-transform:var(--anc-link-transform, uppercase);
  border-radius:20px;
  background:#ff5429;
}
.announcement-bar-offer-countdown{
  display:flex;
  gap:6px;
  align-items:center;
  width:100%;
  min-height:22px;
}
.announcement-bar-offer-countdown p{
  color:var(--colorize-color, inherit);
  line-height:1;
  text-align:left;
}
.announcement-bar-offer-countdown a{
  color:inherit;
  font-weight:600;
}
.announcement-bar-offer-countdown a:hover{
  text-decoration:underline;
}
.announcement-bar-offer-countdown .e-countdown{
  margin-left:auto;
  color:var(--colorize-color, inherit);
  font-size:18px;
}
.announcement-bar-offer-countdown .e-countdown>div{
  gap:2px;
  line-height:10px;
  letter-spacing:0;
}
body:has(.announcement-bar-offer-countdown){
  --height-bar:50px;
}

.announcement-bar-rotating.scroll-hiding,.announcement-bar.scroll-hiding{
  transform:translateY(-100px);
}

@media screen and (max-width:991px){
  .announcement-bar{
    padding:9px 0;
    font-size:var(--ans-bar-font-size-mob, 14px);
    font-weight:var(--anc-bar-font-weight-mob, 400);
  }
  .announcement-bar-content{
    font-size:12px;
  }
  .announcement-bar-offer-countdown{
    min-height:38px;
    font-size:14px;
  }
}

@media screen and (max-width:767px){
  .announcement-bar-offer-countdown{
    flex-direction:column;
    justify-content:center;
    min-height:54px;
  }
  .announcement-bar-offer-countdown p{
    line-height:.95;
  }
  .announcement-bar-offer-countdown .e-countdown{
    margin-left:unset;
    font-size:inherit;
  }
  .announcement-bar-offer-countdown .e-countdown>div{
    flex-direction:row;
    justify-content:center;
    width:42px;
    text-align:center;
  }
  .announcement-bar-offer-countdown .e-countdown>div:after{
    font-size:14px;
  }
  .announcement-bar-offer-countdown .e-countdown>div[data-key=days]:after{
    content:"D";
  }
  .announcement-bar-offer-countdown .e-countdown>div[data-key=hours]:after{
    content:"H";
  }
  .announcement-bar-offer-countdown .e-countdown>div[data-key=minutes]:after{
    content:"M";
  }
  .announcement-bar-offer-countdown .e-countdown>div[data-key=seconds]:after{
    content:"S";
  }
  body:has(.announcement-bar-offer-countdown){
    --height-bar:66px;
  }
}
