.app-features .container{
  max-width:630px;
  margin-right:auto;
  margin-left:auto;
}
.app-features .c-swiper:not(.c-swiper-texts){
  margin-bottom:32px;
  padding-right:0;
  padding-left:0;
}
.app-features .c-swiper:not(.c-swiper-texts) .swiper-slide img{
  transition:all .2s linear;
  opacity:.5;
  scale:.8;
}
.app-features .c-swiper:not(.c-swiper-texts) .swiper-slide.swiper-slide-active img{
  opacity:1;
  scale:1;
}
.app-features .c-swiper.c-swiper-texts .swiper-slide{
  text-align:center;
}
.app-features .c-swiper.c-swiper-texts .swiper-slide h6{
  font-family:inherit;
  font-weight:500;
}
.app-features img{
  display:block;
  max-width:100%;
  height:auto;
}
@media screen and (max-width:767px){
  .app-features .c-swiper:not(.c-swiper-texts){
    margin:0 -64px 24px;
  }
}
