@use "@root/mixins" as *;
@use "@components/c-product-components" as *;

.why-it-works {
    $root: &;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        text-align: center;

        @include sm {
            gap: 24px;
        }
    }

    h2 {
        margin-bottom: 32px;

        @include sm {
            margin-bottom: 16px;
        }
    }

    h6 {
        &:first-child {
            margin-bottom: 16px;
            color: #b5b6b7;
            font-family: inherit;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    // .why-it-works__main
    &__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        text-align: left;

        @include md {
            grid-template-columns: auto;
            gap: 0;
        }
    }

    &__according {
        .c-accordion__item {
            font-size: 18px;

            .e-icon {
                font-size: 24px;
            }

            .e-icon-verified-shield {
                -webkit-text-stroke: 0.4px;
            }

            .e-icon-waves-2 {
                -webkit-text-stroke: 0.15px;
            }
        }
    }

    &__components {
        @include sm {
            order: -1;
        }

        &:has(.c-product-components--recovery-mask) {
            position: relative;
            align-self: start;

            .e-pill-badge {
                --badge-base-color: #3a4a61;
                --badge-fill-color: rgb(233 240 251 / 90%);

                position: absolute;
                bottom: 15%;
                left: 0;

                @include sm {
                    right: 0;
                    bottom: 18%;
                    left: auto;
                    font-size: 14px;
                }

                .e-icon {
                    color: #42669f;
                }
            }

            .e-declaimer {
                position: absolute;
                top: 100%;
                left: 22%;
                margin-top: -30px;
                font-size: 14px;

                @include sm {
                    position: static;
                    max-width: 230px;
                    margin-top: 12px;
                    margin-bottom: 8px;
                    padding-left: 6px;
                    border-left: 1px solid #dfe0e0;
                }
            }
        }
    }
}
