.e-hamburger{
  width:62px;
  padding:16px;
  cursor:pointer;
}
.e-hamburger__line{
  position:relative;
  width:100%;
  height:3px;
  border-radius:10px;
  background:#fff;
  transition:.25s ease-in-out;
}
.e-hamburger__line+.e-hamburger__line{
  margin-top:5px;
}
.menu-show .e-hamburger__line{
  margin-top:0;
}
.menu-show .e-hamburger__line:first-child{
  top:0;
  transform:rotate(45deg);
}
.menu-show .e-hamburger__line:nth-child(2n){
  display:none;
}
.menu-show .e-hamburger__line:last-child{
  top:-3px;
  transform:rotate(-45deg);
}

.header{
  position:fixed;
  top:0;
  z-index:10;
  display:flex;
  flex-direction:column;
  width:100%;
  color:#fff;
  background:#212428;
}
body:has(#announcement-bar) .header{
  top:var(--height-bar);
}
.header__navigation{
  position:relative;
  display:flex;
  flex:none;
  gap:30px;
  align-items:center;
  height:var(--height-header);
}
.header__hamburger{
  display:none;
  flex:1 1 0;
  margin-left:-16px;
}
.header__logo{
  position:absolute;
  top:50%;
  left:50%;
  padding:12px;
  color:inherit;
  font-size:36px;
  line-height:1;
  transform:translate(-50%, -50%);
}
.header__logo svg{
  width:74px;
  height:35px;
  vertical-align:top;
}
.header__menu{
  display:flex;
  flex:1 1 0;
  gap:30px;
  align-items:center;
}
.header__menu li:last-child{
  margin-left:auto;
}
.header__menu a{
  display:block;
  padding-top:19px;
  padding-bottom:19px;
  color:inherit;
  cursor:pointer;
}
.header__menu a.active,.header__menu a:hover{
  text-decoration:none;
  -webkit-text-stroke-width:.5px;
}
.header__icons{
  display:flex;
  align-items:center;
  margin:0 -10px;
}
.header__icons li{
  font-size:30px;
}
.header__icons li:not(:first-child){
  border-left:1px solid #8b8c8e;
}
.header__icons li:has(.cart-count) a{
  position:relative;
}
.header__icons li a{
  display:block;
  padding:5px 10px;
  color:inherit;
  line-height:1;
}
.header__icons li .cart-count{
  position:absolute;
  top:0;
  right:6px;
  font-size:12px;
  font-weight:600;
  line-height:1;
}
.header__icons li svg{
  vertical-align:top;
}
.header__tabs{
  display:none;
  flex:none;
  gap:30px;
  overflow:auto;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:24px;
  padding-left:24px;
  border-top:1px solid #8b8c8e;
  border-bottom:1px solid #8b8c8e;
  -ms-overflow-style:none;
  scrollbar-width:none;
}
.header__tabs::-webkit-scrollbar{
  width:0;
  height:0;
}
.header__tabs a{
  display:block;
  padding-top:15px;
  padding-bottom:15px;
  color:inherit;
  white-space:nowrap;
}
.header__tabs a.active{
  -webkit-text-stroke-width:.5px;
}
.header__content-wrapper{
  flex-grow:1;
  overflow:hidden auto;
  min-height:1px;
  margin-right:-16px;
  margin-left:-16px;
}
.header__content-container{
  display:grid;
  grid-template-columns:1fr 2fr;
  gap:80px;
  padding:30px 0 30px 16px;
}
#products .header__content-container{
  grid-template-columns:repeat(3, 1fr);
}
.header__content-menu{
  display:flex;
  flex-direction:column;
  gap:16px;
}
.header__content-menu[data-title]:before{
  display:block;
  margin-bottom:16px;
  color:#8b8c8e;
  content:attr(data-title);
  -moz-column-span:all;
       column-span:all;
}
.header__content-menu li:last-child a{
  color:#c7e5db;
  -webkit-text-stroke-width:.5px;
}
.header__content-menu a{
  display:block;
  color:inherit;
}
.header__content-menu a.active,.header__content-menu a:hover{
  color:#c7e5db;
  text-decoration:none;
  -webkit-text-stroke-width:.5px;
}
#products .header__content-menu{
  display:block;
  -moz-column-gap:30px;
       column-gap:30px;
  -moz-column-count:2;
       column-count:2;
}
#products .header__content-menu li{
  margin-bottom:16px;
  -moz-column-break-inside:avoid;
       break-inside:avoid;
}
.header__content-slider{
  min-width:0;
  padding-right:16px;
  padding-left:16px;
}
#products .header__content-slider{
  display:grid;
  grid-template-rows:auto auto;
  grid-template-columns:30px 1fr 30px;
  gap:16px 8px;
  padding-bottom:20px;
}
#products .header__content-slider .c-swiper:first-child{
  grid-column:1 /  -1;
}
.header__content-slider .c-swiper:not(.c-swiper-thumbs) .swiper-slide a:not(.btn){
  display:block;
  overflow:hidden;
  width:100%;
  border-radius:10px;
}
.header__content-slider .c-swiper:not(.c-swiper-thumbs) .swiper-slide a:not(.btn) img{
  transition:all .2s linear;
}
.header__content-slider .c-swiper:not(.c-swiper-thumbs) .swiper-slide a:not(.btn):hover img{
  transform:scale(1.05);
}
.header__content-slider .swiper-slide{
  overflow:hidden;
}
.header__content-slider .swiper-slide:has(.btn){
  display:flex;
  flex-direction:column;
  align-items:center;
}
.header__content-slider .swiper-slide img{
  width:100%;
}
.header__content-slider .swiper-slide .btn{
  position:relative;
  margin-top:-22px;
  padding:6px 24px;
  font-size:16px;
  font-weight:500;
  white-space:nowrap;
  border:0;
}
.header__content-slider .swiper-slide .btn .e-icon{
  font-size:12px;
}
.header__content-slider .swiper-slide .btn--discount{
  color:#fff;
  background-color:var(--discount-color);
  background-image:linear-gradient(90deg, hsla(0,0%,100%,.1) 30%, hsla(0,0%,100%,.4) 50%, hsla(0,0%,100%,.1));
}
.header__content-slider .swiper-slide .btn--discount:hover{
  background-image:none;
}
.header__content-slider .c-swiper-thumbs{
  position:relative;
}
.header__content-slider .c-swiper-thumbs .swiper-slide{
  cursor:pointer;
  transition:all .2s linear;
  opacity:.6;
}
.header__content-slider .c-swiper-thumbs .swiper-slide.swiper-slide-thumb-active{
  opacity:1;
}
.header__content-slider .c-swiper-thumbs img{
  border-radius:5px;
}
.header__content-slider .c-swiper-thumbs p{
  margin-top:8px;
  font-size:12px;
  line-height:1.15;
  text-align:center;
}
.header__content-slider .c-swiper-button-next,.header__content-slider .c-swiper-button-prev{
  height:30px;
  margin-top:15px;
}
.header__general-links{
  display:none;
  flex-direction:column;
  gap:16px;
  padding:30px 24px;
  border-top:1px solid #8b8c8e;
}
.header__general-links a{
  display:flex;
  gap:6px;
  align-items:center;
  color:inherit;
}
.header__general-links .e-icon{
  font-size:16px;
}
.header .promo-animation{
  background-color:var(--discount-color);
  background-image:linear-gradient(90deg, hsla(0,0%,100%,0) 30%, hsla(0,0%,100%,.3) 40%, hsla(0,0%,100%,.6) 50%, hsla(0,0%,100%,.9) 60%, hsla(0,0%,100%,.6) 70%, hsla(0,0%,100%,.3) 80%, hsla(0,0%,100%,0));
  background-size:400% 100%;
  -webkit-background-clip:text;
          background-clip:text;
  animation:flare 5s linear infinite;
  -webkit-text-fill-color:transparent;
}
.header.scroll-hiding{
  transform:translateY(-200px);
}
.menu-show{
  height:100vh;
}
.menu-show .header{
  height:calc(100vh - var(--height-bar));
}
.menu-show .header__content.show{
  display:block;
}
@media screen and (min-width:992px){
  .header__content{
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:-1;
    background:#212428;
    transform:translateY(8px);
    pointer-events:none;
    transition:opacity .2s ease,transform .2s ease;
    opacity:0;
  }
  .header__content.show-on-hover{
    z-index:1;
    transform:translateY(0);
    pointer-events:all;
    opacity:1;
  }
}
@media screen and (max-width:1120px){
  .header__content-container{
    gap:30px;
  }
}
@media screen and (max-width:991px){
  .header>.container{
    display:flex;
    flex-direction:column;
    height:100%;
  }
  .header__hamburger{
    display:block;
  }
  .header__logo{
    padding:10px;
  }
  .header__menu{
    display:none;
  }
  .header__icons{
    margin:0 -5px;
  }
  .header__icons li:not(:first-child){
    border:0;
  }
  .header__icons li:has(.e-icon-user),.header__icons li:nth-child(2){
    display:none;
  }
  .header__icons li a{
    padding:5px;
  }
  .header__content{
    display:none;
  }
  .header__content-container{
    grid-template-columns:auto;
    padding-bottom:20px;
    padding-left:0;
  }
  #products .header__content-container{
    grid-template-columns:auto;
    padding-bottom:30px;
  }
  .header__content-menu{
    padding-right:24px;
    padding-left:24px;
  }
  .header__content-slider{
    padding-top:20px;
    border-top:1px solid #8b8c8e;
  }
  #products .header__content-slider{
    order:-1;
    grid-template:auto/auto;
    padding-top:0;
    border-top:0;
    border-bottom:1px solid #8b8c8e;
  }
  .header__content-slider .c-swiper-button-next,.header__content-slider .c-swiper-button-prev{
    display:none;
  }
  .menu-show .header__tabs{
    display:flex;
  }
  .menu-show .header__tabs+.header__content:not([role=tabpanel]){
    display:block;
  }
  .menu-show .header__general-links{
    display:flex;
  }
}
