@use "@root/mixins" as *;
@use "@elements/e-hamburger" as *;

 // TODO: When header will be done, need move this var to _vars.scss
:root {
    --height-header: 75px;

    @include md {
        --height-header: 55px;
    }
}


.header {
    $root: &;

    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #212428;
    border-bottom: 1px solid #f7f7f7;
    background: #fff;

    body:has(#announcement-bar) & {
        top: var(--height-bar);
    }

    & > .container {
        @include md {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    svg {
        path {
            fill: currentColor;
        }
    }

    // .header__navigation
    &__navigation {
        position: relative;
        display: flex;
        flex: none;
        gap: 30px;
        align-items: center;
        height: var(--height-header);
    }

    // .header__hamburger
    &__hamburger {
        display: none;
        margin-left: -16px;

        @include md {
            display: block;
        }

        .e-hamburger__line {
            background: #212428;
        }
    }

    // .header__logo
    &__logo {
        margin-right: -16px;
        margin-left: -16px;
        padding: 16px;
        color: inherit;
        line-height: 1;

        @include md {
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
        }

        svg {
            width: 65px;
            height: 31px;
            vertical-align: top;
        }
    }

    // .header__menu
    &__menu {
        display: flex;
        flex: 1 1 0;
        gap: 24px;
        align-items: center;

        @include md {
            display: none;
        }

        a {
            display: flex;
            padding-top: 19px;
            padding-bottom: 19px;
            color: inherit;
            cursor: pointer;
            transition: opacity linear 200ms;
            opacity: 0.5;

            @include hover {
                text-decoration: none;
                opacity: 1;

                span:not([class]) {
                    text-decoration: underline;
                }
            }

            &[data-target] {
                position: relative;
                padding-right: 16px;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -4px;
                    @include icon;
                    font-size: 12px;
                    transform: rotate(90deg);
                    @include transition;
                    content: "\e900";
                }

                &.active {
                    text-decoration: underline;
                    opacity: 1;

                    &::after {
                        transform: rotate(-90deg)
                    }
                }
            }

            &:has(.e-pill-save) {
                display: flex;
                gap: 4px;
                align-items: center;
            }

            /* &:hover,
            &.active {
                text-decoration: none;
                -webkit-text-stroke-width: 0.5px;
            } */
        }

        .e-pill-save {
            padding: 4px 8px;
            font-size: 10px;
            text-transform: none;
            text-decoration: none;
        }
    }

    // .header__icons
    &__icons {
        display: flex;
        align-items: center;

        @include md {
            margin-right: -16px;
        }

        li {
            position: relative;
            font-size: 30px;

            &:not(:last-child) {
                @include md {
                    display: none;
                }
            }

            a {
                display: block;
                padding: 5px 8px;
                color: inherit;
                line-height: 1;

                @include md {
                    padding: 8px 16px;
                }
            }

            .cart-count {
                position: absolute;
                top: 2px;
                right: 6px;
                font-size: 12px;
                font-weight: 600;
                line-height: 1;

                @include md {
                    top: 6px;
                    right: 16px;
                    width: 16px;
                    height: 16px;
                    color: #fff;
                    line-height: 14px;
                    text-align: center;
                    border: 1px solid;
                    border-radius: 50%;
                    background-color: var(--discount-color);
                }
            }

            svg {
                vertical-align: top;
            }
        }
    }

    // .header__content-wrapper
    &__content-wrapper {
        flex-grow: 1;
        overflow: hidden auto;
        min-height: 1px;
        margin-right: -16px;
        margin-left: -16px;

        @include md {
            position: fixed;
            inset: 0;
            z-index: 100;
            display: none;
            margin-right: 0;
            margin-left: 0;
            padding-bottom: 38px;
            background: #fff;
        }
    }

    // .header__mobile-top
    &__mobile-top {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 16px 20px 10px;

        button {
            margin-right: -10px;
            padding: 10px;
            color: inherit;
            font-size: 26px;
            line-height: 1;
            border: 0;
            background: none;
        }

        @include md {
            display: flex;
        }

        .e-icon-qure {
            font-size: 34px;
        }
    }

    // .header__content
    &__content {
        @media screen and (min-width: 992px) {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: -1;
            margin-top: 1px;
            border-bottom: 1px solid #f7f7f7;
            background: #fff;
            transform: translateY(8px);
            pointer-events: none;
            transition: opacity 200ms ease, transform 200ms ease;
            opacity: 0;

            &.show-on-hover {
                z-index: 1;
                transform: translateY(0);
                pointer-events: all;
                opacity: 1;
            }
        }

        &[id="shop_bestsellers"] {
            .header__content-cards {
                @include md {
                    flex-direction: column;
                    margin-bottom: 32px;
                }

                a {
                    @include md {
                        display: grid;
                        grid-template: repeat(2, auto) / 1fr auto;
                        gap: 4px;
                        padding: 2px 8px 2px 16px;
                        text-align: left;
                    }

                    span {
                        @include md {
                            align-self: end;
                        }
                    }

                    .e-pill-badge {
                        @include md {
                            align-self: start;
                        }
                    }
                }
            }
        }

        &[id="shop_benefits"] {
            .header__content-cards {
                @include md {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                a {
                    @include md {
                        align-items: start;
                        justify-content: center;
                        height: 60px;
                        padding: 8px 50px 8px 16px;
                        text-align: left;
                    }
                }
            }
        }

        &[id="learn_more"]  {
            .header__content-container {
                gap: 0;
            }

            .header__content-cards {
                @include md {
                    display: none;
                }

                li a {
                    padding-top: 28px;
                }
            }
        }
    }

    // .header__content-container
    &__content-container {
        display: flex;
        gap: 32px;
        padding: 50px 16px;

        @include md {
            flex-direction: column;
            gap: 16px;
            padding: 0 20px;
        }
    }

    // .header__content-title
    &__content-title {
        align-self: center;
        min-width: 23%;

        @include md {
            align-self: start;
        }

        h3 {
            white-space: nowrap;

            @include md {
                margin-bottom: 0;
                font-family: inherit;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .btn {
            width: 100%;
            max-width: 200px;

            @include sm {
                display: none;
            }
        }
    }

    // .header__content-cards
    &__content-cards {
        display: flex;
        flex-grow: 1;
        gap: 8px;
        justify-content: end;

        li {
            width: 100%;
            max-width: 172px;

            @include md {
                max-width: none;
            }

            a {
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                gap: 4px;
                align-items: center;
                overflow: hidden;
                width: 100%;
                height: 230px;
                padding: 24px 16px;
                font-size: 16px;
                letter-spacing: -0.2px;
                text-align: center;
                border-radius: 8px;
                background: #f8f8f8;
                transition: background-color linear 200ms;

                @include hover {
                    text-decoration: none;
                    background-color: #f2f2f2;
                }

                @include md {
                    height: auto;
                }

                & > img {
                    margin-top: auto;

                    @include md {
                        grid-row: 1 / -1;
                        grid-column: 2;
                        height: 76px;
                    }
                }
            }

            small {
                position: absolute;
                top: 12px;
                right: 0;
                left: 0;
                color: #ff5429;
                font-size: 12px;
                text-align: center;
            }

            img {
                @include img-fluid;
            }

            picture {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;

                @include md {
                    inset: 0 0 0 auto;
                    z-index: -1;
                    height: 100%;
                }

                img {
                    height: 100%;
                }
            }

            .e-pill-badge {
                --badge-base-color: #212428;
                --badge-fill-color: #fff;

                width: auto;
                padding: 4px 7px;
                font-size: 12px;
                letter-spacing: inherit;

                @include md {
                    margin-right: auto;
                    padding: 4px 12px;
                    font-weight: 600;
                }
            }

            &:last-child {
                a {
                    .e-pill-badge--fill {
                        --badge-base-color: #fff;

                        background-color: var(--discount-color);
                        background-image:
                        linear-gradient(
                            90deg,
                            rgb(255 255 255 / 10%) 30%,
                            rgb(255 255 255 / 40%) 50%,
                            rgb(255 255 255 / 10%) 100%
                        );
                    }
                }
            }
        }
    }

    // .header__content-menu
    &__content-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-width: 20%;

        @include md {
            gap: 12px;
            border-bottom: 1px solid #f2f2f2;
        }

        h6 {
            margin-bottom: 8px;
            color: #8b8c8e;
            font-family: inherit;
            font-size: 14px;
            font-weight: 500;
            pointer-events: none;

            @include md {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;
                padding-top: 12px;
                color: inherit;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                pointer-events: all;
            }

            &::after {
                font-size: 16px;

                @include md {
                    @include icon;
                    @include transition;
                    content: "\e900";
                }
            }

            &.active {
                font-weight: 600;

                &::after {
                    @include md {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include md {
                gap: 8px;
                overflow: hidden;
                height: 0;
                transition: height 200ms ease-in-out;
            }

            &.show {
                padding-bottom: 12px;
            }
        }

        li {
            &:last-child {
                a {
                    color: #ff5429;
                }
            }
        }
    }

    // .header__shop-all-button
    &__shop-all-button {
        display: none;
        padding: 32px 20px 20px;

        @include md {
            display: block;
        }

        .btn {
            width: 100%;
        }
    }

    // .header__account-link
    &__account-link {
        display: none;

        @include md {
            display: block;
        }

        a {
            display: block;
            padding: 12px 20px;
        }
    }

    .promo-animation {
        background-color: var(--discount-color);
        background-image:
            linear-gradient(
                90deg,
                rgb(255 255 255 / 0%) 30%,
                rgb(255 255 255 / 30%) 40%,
                rgb(255 255 255 / 60%) 50%,
                rgb(255 255 255 / 90%) 60%,
                rgb(255 255 255 / 60%) 70%,
                rgb(255 255 255 / 30%) 80%,
                rgb(255 255 255 / 0%) 100%
            );
        background-size: 400% 100%;
        background-clip: text;
        animation: flare 5s linear infinite;
        -webkit-text-fill-color: transparent;
    }

    &.scroll-hiding {
        transform: translateY(-200px);
    }

    // MOBILE MENU OPEN
    @at-root .menu-show {
        height: 100vh;

        #{$root} {
            height: calc(100vh - var(--height-bar));

            &__content-wrapper {
                @include md {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
