.e-declaimer{
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
}

.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:var(--badge-base-color, #8b8c8e);
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h calc(s * 3) calc(l + (100 - l) * .95));
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
}
.e-pill-badge--xs,.e-pill-badge--xxs{
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xxs{
  gap:4px;
  padding:0 10px;
}
.e-pill-badge--fill{
  color:var(--badge-base-color, #fff);
  background:var(--badge-fill-color, #ff5429);
}

.c-wistia-embed-video{
  position:relative;
  overflow:hidden;
  cursor:pointer;
}
.c-wistia-embed-video .wistia_embed,.c-wistia-embed-video .wistia_responsive_padding,.c-wistia-embed-video .wistia_responsive_wrapper,.c-wistia-embed-video .wistia_swatch{
  height:100%;
}
.c-wistia-embed-video .wistia_swatch img{
  display:block;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
  max-height:100%;
  filter:blur(5px);
}
.c-wistia-embed-video div[id$=thumbnail_focus_indicator]{
  box-shadow:none !important;
}
.c-wistia-embed-video--custom{
  position:relative;
}
.c-wistia-embed-video--custom .wistia_embed{
  position:absolute;
  inset:0;
  z-index:1;
  opacity:0;
}
.c-wistia-embed-video--custom:has(.wistia_mouseover) .c-wistia-embed-video__link span{
  text-decoration:underline;
}
.c-wistia-embed-video--custom .c-wistia-embed-video__link{
  display:flex;
  gap:8px;
  align-items:center;
  font-size:20px;
  font-weight:600;
}
.c-wistia-embed-video--custom .c-wistia-embed-video__link .e-icon{
  -webkit-text-stroke:.5px;
}

.expert-reviews--old-page{
  padding-top:60px;
  padding-bottom:60px;
}
.expert-reviews .container{
  display:grid;
  grid-template:repeat(2, auto)/repeat(2, 50%);
  gap:32px 0;
}
.expert-reviews h2{
  grid-column:1 /  -1;
  margin-bottom:0;
}
.expert-reviews__content{
  display:flex;
  flex-direction:column;
  gap:24px;
  justify-content:center;
  min-width:0;
  padding:32px 50px;
  border:1px solid #dfe0e0;
  border-left:0;
  border-radius:0 10px 10px 0;
}
.expert-reviews__content small{
  margin-top:auto;
  padding-top:16px;
  border-top:1px solid #8b8c8e;
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
}
.expert-reviews .c-wistia-embed-video{
  border-radius:10px 0 0 10px;
}
.expert-reviews .c-wistia-embed-video .e-pill-badge{
  position:absolute;
  bottom:18px;
  left:18px;
  z-index:100;
  color:inherit;
  background:hsla(0,0%,100%,.6);
}
.expert-reviews .c-swiper{
  margin:0;
  padding:0;
}
.expert-reviews .c-swiper:not(.c-swiper-thumbs) .swiper-slide{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.expert-reviews .c-swiper:not(.c-swiper-thumbs) .swiper-slide p{
  margin:0;
  line-height:1.2;
}
.expert-reviews .c-swiper:not(.c-swiper-thumbs) .swiper-slide p:first-child{
  font-size:25px;
  font-weight:500;
}
.expert-reviews .c-swiper-thumbs .swiper-slide{
  --progress:0;
  overflow:hidden;
  width:65px;
  height:65px;
  padding:2px;
  border-radius:50%;
  background:#dfe0e0;
}
.expert-reviews .c-swiper-thumbs .swiper-slide img{
  display:block;
  max-width:100%;
  height:auto;
  border:4px solid #fff;
  border-radius:50%;
  opacity:.5;
  transition:all .2s linear;
}
.expert-reviews .c-swiper-thumbs .swiper-slide.swiper-slide-thumb-active{
  background:conic-gradient(#212428 calc(var(--progress) * 1turn), #dfe0e0 0);
}
.expert-reviews .c-swiper-thumbs .swiper-slide.swiper-slide-thumb-active img{
  opacity:1;
}
@media screen and (max-width:767px){
  .e-declaimer{
    font-size:14px;
  }
  .expert-reviews--old-page{
    padding-top:40px;
    padding-bottom:40px;
  }
  .expert-reviews .container{
    grid-template:auto/auto;
    gap:24px;
  }
  .expert-reviews h2{
    grid-column:auto;
  }
  .expert-reviews__content{
    gap:16px;
    padding:0;
    border:0;
  }
  .expert-reviews__content small{
    font-size:14px;
  }
  .expert-reviews .c-wistia-embed-video{
    border-radius:10px;
  }
  .expert-reviews .c-swiper:not(.c-swiper-thumbs) .swiper-slide{
    gap:12px;
  }
  .expert-reviews .c-swiper:not(.c-swiper-thumbs) .swiper-slide p:first-child{
    font-size:20px;
  }
  .expert-reviews .c-swiper-thumbs .swiper-slide{
    width:41px;
    height:41px;
  }
  .expert-reviews .c-swiper-thumbs .swiper-slide img{
    border-width:2px;
  }
}
