.why-using--bg{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.why-using article{
  display:flex;
  flex-direction:column;
  gap:32px;
  align-items:center;
}
.why-using h2{
  width:100%;
  max-width:670px;
  margin-bottom:0;
  text-align:center;
}
.why-using ul{
  display:flex;
  gap:40px;
  width:100%;
}
.why-using li{
  display:flex;
  flex-direction:column;
  gap:16px;
  align-items:center;
  width:100%;
  text-align:center;
}
.why-using .e-icon{
  flex:none;
  font-size:90px;
}
.why-using .btn{
  text-transform:uppercase;
}
@media screen and (max-width:991px){
  .why-using ul{
    gap:16px;
  }
  .why-using .e-icon{
    width:60px;
    font-size:55px;
    text-align:center;
  }
}
@media screen and (max-width:767px){
  .why-using--bg{
    padding-top:40px;
    padding-bottom:40px;
  }
  .why-using article{
    gap:20px;
  }
  .why-using ul{
    flex-direction:column;
  }
  .why-using li{
    flex-direction:row;
    text-align:left;
  }
  .why-using li:not(:first-child){
    padding-top:16px;
    border-top:1px solid #dfe0e0;
  }
}
