@use "@root/mixins" as *;
@use "@elements/e-pill-badge" as *;
@use "@elements/e-checkmark" as *;
@use "@elements/e-icon" as *;
@use "@elements/e-steps-list" as *;
@use "@elements/e-features-list" as *;
@use "@components/c-dialog" as *;
@use "@components/c-marked-list" as *;
@use "@components/c-buy-block" as *;
@use "@components/c-order-button" as *;
@use "@components/c-certified-box" as *;
@use "@components/c-percent-list" as *;
@use "@components/c-app-stores" as *;
@use "@components/c-accordion" as *;

.base-section {
    $root: &;

    article {
        display: grid;
        grid-template-rows: auto minmax(min-content, 0) auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 60px;
        align-items: center;
        min-height: 0;

        @include md {
            column-gap: 40px;
        }

        @include sm {
            grid-template-rows: auto;
            grid-template-columns: auto;
        }

        & > *:first-child {
            align-self: end;
        }

        & > *:last-child {
            align-self: start;
        }

        & > h1,
        & > h2 {
            margin-bottom: 0;
            color: inherit;

            & + figure,
            & + picture[data-url] {
                @include sm {
                    order: 0;
                }
            }
        }

        figure,
        & > picture,
        .wistia-embed-video {
            grid-row: 1 / -1;
            grid-column: 2;

            @include sm {
                order: -1;
                grid-area: auto;
                grid-column: 1;
                width: 100%;
            }
        }

        & > picture {
            &[data-url] {
                cursor: pointer;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }

        h6 {
            margin-bottom: 0;
            font-family: inherit;
            font-weight: 600;
        }

        a:not(.btn) {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            em {
                font-style: normal;
                background: #c7e5db;
            }

            & + .c-percent-list {
                margin-top: 24px;
            }

            & + h2 {
                margin: 40px 0 20px;

                @include sm {
                    margin-top: 32px;
                }
            }
        }

        ul:not(.c-marked-list, .e-steps-list, .c-percent-list) {
            padding-left: 24px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            li {
                padding-left: 4px;
                list-style: disc;
            }
        }

        ol {
            @include numeric-list;
            @include numeric-list-big;
        }

        .c-note {
            margin-bottom: 20px;
        }

        @at-root #{$root}:has(.e-pill-badge) {
            article {
                @include sm {
                    justify-items: center;
                    text-align: center;
                }

                h2 {
                    align-self: center;
                }

                & > div:not(.e-pill-badge) {
                    align-self: start;
                }
            }

            .e-pill-badge {
                grid-row: 1 / 1;
                align-self: end;

                @include sm {
                    order: 20;
                    grid-row: auto;
                }
            }
        }

        & > .btn {
            align-self: start;
            width: max-content;
            margin-top: 8px;

            @include sm {
                width: 100%;
                margin-top: 0;
            }
        }
    }

    figure {
        position: relative;
        cursor: pointer;

        img {
            @include img-fluid;
            border-radius: 10px;
        }

        figcaption {
            @include play-icon;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            color: #fff;
            text-align: left;

            strong {
                display: block;
                font-size: 20px;
            }

            &::first-line {
                font-size: 20px;
                font-weight: 500;
            }

            &::after {
                right: 20px;
                left: auto;
                font-size: 40px;
                transform: translate(0, -50%);
            }
        }
    }

    .features-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: 1 / -1;
        grid-column: 2;
        gap: 20px 10px;
        width: min(400px, 100%);
        margin: 0 auto;

        @include sm {
            order: 10;
            grid-area: auto;
            grid-column: 1;
            width: 100%;
        }

        li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;

            @include sm {
                font-size: 16px;
            }

            .e-icon {
                font-size: 45px;

                @include sm {
                    font-size: 40px;
                }
            }
        }
    }

    .circle-icons-list {
        column-count: 3;

        @include md {
            column-count: 2;
        }


        li {
            display: flex;
            gap: 12px;
            align-items: center;
            padding: 10px 0;

            & > div {
                padding: 6px;
                font-size: 24px;
                border: 1px solid #b5b6b7;
                border-radius: 50%;
            }
        }

        .e-icon {
            padding: 4px;
            border: 1px solid;
            border-radius: 50%;
        }
    }

    .c-app-stores {
        width: 100%;
        max-width: 410px;
    }

    .c-accordion--arrow-icon {
        margin-top: -16px;

        .c-accordion__item {
            color: #8b8c8e;
            border-bottom-color: #dfe0e0;

            &[open] {
                color: currentColor;
            }
        }

        .c-accordion__summary {
            color: inherit;
        }

        .c-accordion__content {
            display: block;
        }
    }

    .c-dialog {
        max-width: 900px;

        h6 {
            margin-bottom: 16px;
            font-family: inherit;
            font-weight: 600;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            @include img-fluid;
        }

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 12px;
            box-shadow: none;
        }

        &:not(.c-dialog--right-side) {
            .c-dialog__content {
                padding: 40px;

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &--simple-grid {
        article {
            grid-template-rows: repeat(2, auto);
        }
    }

    &--small-media {
        article {
            grid-template-columns: 1fr 400px;

            @include sm {
                grid-template-columns: auto;
            }
        }
    }

    &--small-media#{$root}--reverse {
        article {
            grid-template-columns: 400px 1fr;

            @include sm {
                grid-template-columns: auto;
            }
        }
    }

    &--half-media {
        .container {
            margin-right: 0;
            padding-right: 0;

            @media screen and (min-width: 1200px) {
                @include max-width(1172px);
            }

            @media screen and (min-width: 1400px) {
                @include max-width(1232px);
            }

            @include sm {
                padding-right: 15px;
            }
        }

        article {
            grid-template-columns: 1fr 50vw;

            @include sm {
                grid-template-columns: auto;
            }

            picture {
                @include sm {
                    width: 100vw;
                    margin-right: -15px;
                    margin-left: -15px;
                }
            }

            img {
                object-fit: cover;
                max-height: 600px;
                border-radius: 0;

                @include sm {
                    width: 100%;
                }
            }
        }
    }

    &--half-media#{$root}--reverse {
        .container {
            margin-right: auto;
            margin-left: 0;
            padding-right: 15px;
            padding-left: 0;


            @include sm {
                padding-left: 15px;
            }
        }

        article {
            grid-template-columns: 50vw 1fr;

            @include sm {
                grid-template-columns: auto;
            }

            picture {
                @include sm {
                    width: 100vw;
                    margin-right: -15px;
                    margin-left: -15px;
                }
            }
        }
    }

    &--reverse {
        article {
            & > picture,
            .wistia-embed-video {
                grid-column: 1;
            }
        }
    }

    &--grey {
        padding-top: 60px;
        padding-bottom: 60px;
        background: #f6f6f7;

        @include md {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .e-pill-badge {
            background: #fff;
        }
    }

    &--dark {
        color: #fff;
        background: #212428;
    }

    &--404 {
        .container {
            max-width: 760px;
        }

        h2 {
            @include sm {
                text-align: center;
            }
        }

        img {
            max-width: 235px;
            margin: 0 auto;
        }
    }

    // When section has button and percent list
    &:has(.btn):has(.c-percent-list) {
        article {
            grid-template-rows: auto repeat(2, minmax(min-content, 0)) auto;

            @include sm {
                grid-template-rows: auto;
            }
        }
    }

    // When section has button and percent list
    &:has(.btn):has(.features-list) {
        article {
            .btn {
                width: 100%;
                max-width: 400px;
                margin-top: 10px;
            }
        }
    }

    // Styles on qure-microinfusion-offer-listicle page
    @at-root body[class="page.qure-microinfusion-offer-listicle"] {
        // .base-section article
        #{$root} article {
            align-items: start;

            picture,
            .wistia-embed-video {
                @include sm {
                    order: unset;
                }
            }
        }
    }

    @at-root
    body[class="product.face-serum"],
    body[class="product.micro-infusion-targeted-patches"] {
        #{$root} article {
            &:has(.circle-icons-list) {
                picture {
                    order: 10;
                }
            }
        }
    }
}
