.e-declaimer{
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
}

.e-author{
  display:flex;
  gap:10px;
  align-items:center;
}
.e-author img{
  width:100%;
  max-width:25px;
  height:auto;
  vertical-align:top;
  border-radius:50%;
}

.e-checkmark{
  width:1em;
  height:1em;
  color:#212428;
  line-height:1em;
  text-align:center;
  border-radius:50%;
  background:#c7e5db;
}
.e-checkmark:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:.35em;
  line-height:inherit;
  vertical-align:top;
  content:"\e901";
}

.e-verified-customer{
  --e-verified-customer-bg:rgba(199,229,219,.3);
  display:inline-flex;
  gap:5px;
  align-items:center;
  padding:4px 10px;
  font-size:14px;
  border-radius:5px;
  background:var(--e-verified-customer-bg);
}
.e-verified-customer .e-checkmark{
  vertical-align:top;
}

.c-trusted-review-card{
  display:grid;
  grid-template:repeat(3, auto)/repeat(2, 1fr);
  gap:24px 6px;
  align-content:start;
  overflow:hidden;
  padding-bottom:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
  background:#fff;
}
.c-trusted-review-card:has(a){
  grid-template-rows:repeat(3, auto) 1fr;
}
.c-trusted-review-card figure{
  position:relative;
}
.c-trusted-review-card figure img{
  aspect-ratio:360/480;
  vertical-align:top;
}
.c-trusted-review-card figcaption{
  position:absolute;
  top:0;
  left:0;
  padding:10px;
  font-size:16px;
  border-bottom-right-radius:10px;
  background:hsla(0,0%,100%,.7);
  -webkit-backdrop-filter:blur(15px);
          backdrop-filter:blur(15px);
}
.c-trusted-review-card .e-pill-badge,.c-trusted-review-card article,.c-trusted-review-card picture{
  grid-column:1 /  -1;
}
.c-trusted-review-card article{
  padding:0 24px;
  line-height:1.25;
}
.c-trusted-review-card article p{
  font-size:16px;
}
.c-trusted-review-card img{
  width:100%;
}
.c-trusted-review-card .e-pill-badge{
  --badge-base-color:#ff5429;
  margin-left:24px;
  font-weight:600;
  border:1px solid;
}
.c-trusted-review-card h6{
  margin-bottom:20px;
  font-family:inherit;
  font-weight:500;
  line-height:1;
}
.c-trusted-review-card a{
  display:grid;
  grid-template:repeat(2, auto)/45px 1fr;
  grid-column:1 /  -1;
  gap:0 12px;
  align-items:center;
  align-self:end;
  margin:0 24px;
  padding:12px;
  color:inherit;
  font-size:16px;
  border-radius:10px;
  background:#f6f6f7;
}
.c-trusted-review-card a:hover{
  text-decoration:none;
  background:#c8e6dc;
}
.c-trusted-review-card a img{
  grid-row:1 /  -1;
}
.c-trusted-review-card a small{
  font-size:.875em;
}
.c-trusted-review-card a span{
  text-decoration:underline;
}
.c-trusted-review-card .e-author{
  align-self:center;
  margin-left:24px;
}
.c-trusted-review-card .e-verified-customer{
  margin-right:24px;
  margin-left:auto;
}
.c-trusted-review-card--short{
  gap:10px 24px;
  padding-bottom:0;
  background:#f6f6f7;
}
.c-trusted-review-card--short .e-verified-customer{
  gap:8px;
  font-size:18px;
  background:none;
}

.trusted-reviews:not(.trusted-reviews--light){
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.trusted-reviews h2{
  margin-bottom:36px;
  text-align:center;
}
.trusted-reviews .c-trusted-review-card{
  max-width:400px;
  height:100%;
}
.trusted-reviews .btn{
  display:block;
  max-width:350px;
  margin:40px auto 0;
  text-transform:uppercase;
}
.trusted-reviews:has(.e-features-list) .btn{
  max-width:500px;
}
.trusted-reviews .e-features-list{
  margin-top:12px;
}
.trusted-reviews--light .c-trusted-review-card{
  border:1px solid #dfe0e0;
}
.trusted-reviews--trustpilot .c-trusted-review-card{
  max-width:none;
  border:0;
}
.trusted-reviews--trustpilot .e-icon-qure{
  display:block;
  margin-bottom:12px;
  font-size:35px;
  text-align:center;
}
.trusted-reviews--trustpilot h2{
  margin-bottom:12px;
}
.trusted-reviews--trustpilot .trustpilot-rating{
  display:flex;
  flex-direction:column;
  gap:12px;
  align-items:center;
  margin-bottom:12px;
  padding:8px 12px;
  font-size:16px;
  font-weight:600;
}
.trusted-reviews--trustpilot .trustpilot-rating a{
  text-decoration:underline;
}
.trusted-reviews--trustpilot .trustpilot-rating .e-rating-stars:after{
  color:#06da8d;
}
.trusted-reviews--trustpilot .trustpilot-rating img{
  max-width:104px;
  height:auto;
  vertical-align:top;
}
.trusted-reviews--trustpilot .trustpilot-rating__rating{
  display:flex;
  gap:4px;
  align-items:center;
}
.trusted-reviews--trustpilot .trustpilot-rating__rating img{
  margin-left:4px;
}
.trusted-reviews--trustpilot .e-disclaimer{
  margin-bottom:32px;
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
  text-align:center;
}
@media screen and (max-width:991px){
  .trusted-reviews h2{
    margin-bottom:20px;
  }
  .trusted-reviews .c-trusted-review-card{
    max-width:50vw;
  }
}
@media screen and (max-width:767px){
  .e-declaimer{
    font-size:14px;
  }
  .c-trusted-review-card{
    gap:16px 6px;
    padding-bottom:16px;
  }
  .c-trusted-review-card article{
    padding:0 16px;
    font-size:16px;
  }
  .c-trusted-review-card .e-pill-badge{
    margin-left:16px;
  }
  .c-trusted-review-card a{
    margin:0 16px;
  }
  .c-trusted-review-card .e-author{
    margin-left:16px;
  }
  .c-trusted-review-card .e-verified-customer{
    margin-right:16px;
    font-size:12px;
  }
  .c-trusted-review-card--short{
    gap:8px;
    padding-bottom:0;
    font-size:16px;
  }
  .c-trusted-review-card--short .e-verified-customer{
    font-size:inherit;
  }
  .trusted-reviews:not(.trusted-reviews--light){
    padding-top:40px;
    padding-bottom:40px;
  }
  .trusted-reviews .c-trusted-review-card{
    max-width:100vw;
  }
  .trusted-reviews .btn{
    margin-top:24px;
  }
  .trusted-reviews .e-features-list li:first-child{
    display:none;
  }
  .trusted-reviews--trustpilot h2{
    margin-bottom:12px;
  }
  .trusted-reviews--trustpilot .e-disclaimer{
    font-size:14px;
    margin-bottom:24px;
  }
}
@media (hover:hover){
  .trusted-reviews--trustpilot .trustpilot-rating a:hover{
    text-decoration:none;
  }
}
