@use "@root/mixins" as *;

.experts-grid {
    $root: &;

    article {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include sm {
            text-align: left;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-top: 40px;
        text-align: left;

        @include sm {
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
            margin-top: 24px;
        }

        li {
            overflow: hidden;
            border: 1px solid rgb(80 0 11 / 5%);
            border-radius: 24px;
        }

        img {
            @include img-fluid;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: 22px 24px;
            font-size: min(28px, 2cqw);
            line-height: 1.1;

            @include sm {
                padding: 12px;
            }
        }

        strong {
            font-family: inherit;

            @include sm {
                font-size: 16px;
            }
        }

        small {
            font-size: 0.7em;
            opacity: 0.5;

            @include sm {
                font-size: 12px;
            }
        }

    }
}
