.experts-grid article {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.experts-grid ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 40px;
  text-align: left;
}
.experts-grid ul li {
  overflow: hidden;
  border: 1px solid rgba(80,0,11,.05);
  border-radius: 24px;
  container-type: inline-size;
}
.experts-grid ul figure {
  position: relative;
}
.experts-grid ul figcaption {
  position: absolute;
  right: 12px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  font-size: 36px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: #cde6dd;
}
.experts-grid ul img {
  display: block;
  max-width: 100%;
  height: auto;
}
.experts-grid ul div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 22px 24px;
  font-size: min(24px, 7cqw);
  line-height: 1.1;
}
.experts-grid ul strong {
  font-family: inherit;
}
.experts-grid ul small {
  font-size: .7em;
  opacity: .5;
}
.experts-grid--awards article {
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, auto);
  gap: 32px;
  align-items: center;
}
.experts-grid--awards h2 {
  margin-bottom: 0;
  text-align: left;
}
.experts-grid--awards ol {
  display: flex;
  gap: 8px;
  overflow: auto;
}
.experts-grid--awards ol img {
  max-height: 80px;
}
.experts-grid--awards ul {
  grid-column: 1/-1;
  margin-top: 0;
}
@media screen and (min-width:768px) {
  .experts-grid--awards ol img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width:767px) {
  .experts-grid article {
    text-align: left;
  }
  .experts-grid ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 24px;
  }
  .experts-grid ul figcaption {
    right: 4px;
    bottom: 4px;
    font-size: 16px;
  }
  .experts-grid ul div {
    gap: 4px;
    padding: 12px;
  }
  .experts-grid ul strong {
    font-size: 16px;
  }
  .experts-grid ul small {
    font-size: 12px;
  }
  .experts-grid--awards article {
    grid-template: auto/auto;
  }
  .experts-grid--awards ol img {
    max-height: 95px;
  }
  .experts-grid--awards ul {
    grid-column: auto;
    margin-top: 0;
  }
}
