@use "@root/mixins" as *;
@use "@elements/e-pay-options" as *;

.c-order-button {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
        width: 100%;

        .e-icon-arrow {
            margin-left: 4px;
            font-size: 16px;
            -webkit-text-stroke: 0.7px;
        }
    }

    .btn,
    form {
        & + p {
            color: #8b8c8e;
            font-size: 16px;
            text-align: center;
        }
    }

    .e-pay-options {
        justify-content: center;
    }

    p {
        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
