@use "@root/mixins" as *;
@use "@elements/e-component-pointer" as *;

.c-product-components {
    position: relative;

    img {
        @include img-fluid;
    }

    // POINTERS OPTIONS
    &--faucet-filter {
        .e-component-pointer {
            &:has([href="#carbon-fiber"]) {
                --top: 20%;
                --left: 13%;
                --line-size: 310px;

                @include lg {
                    --line-size: 290px;
                }

                @include md {
                    --line-size: 55vw;
                }
            }

            &:has([href="#pp-filter"]) {
                --top: 3%;
                --left: -1%;
                --line-size: 30px;
            }

            &:has([href="#nok-filter"]) {
                --top: 45%;
                --left: 48%;
                --line-size: 110px;

                @include lg {
                    --line-size: 100px;
                }

                @include md {
                    --line-size: 22vw;
                }
            }

            &:has([href="#asp-descaler"]) {
                --top: 75%;
                --left: 2.5%;
                --line-size: 30px;

                @include md {
                    --left: 1%;
                    --line-size: 20px;
                }
            }
        }
    }

    &--shower-filter {
        .e-component-pointer {
            &:has([href="#carbon-fiber"]) {
                --top: 25%;
                --left: 50%;
                --line-size: 100px;

                @include md {
                    --line-size: 20vw;
                }
            }

            &:has([href="#kdf-filter"]) {
                --top: 50%;
                --left: 3%;
                --line-size: 60px;

                @include md {
                    --line-size: 30vw;
                }

                @include sm {
                    --line-size: 15vw;
                }
            }

            &:has([href="#fof-filter"]) {
                --top: 65%;
                --left: 50%;
                --line-size: 100px;

                @include md {
                    --line-size: 20vw;
                }
            }
        }
    }

    &--recovery-mask {
        .e-component-pointer {
            align-items: start;
            opacity: 1;

            &::before {
                border-color: rgb(145 186 236 / 20%);
                background: #91baec;
                background-clip: content-box;
            }

            hr {
                position: relative;
                display: block;
                overflow: visible;
                width: 100%;
                height: 1px;
                margin-top: 12px;
                border: 0;
                background: rgb(145 186 236 / 50%);
            }

            div {
                display: flex;
                flex-direction: column;

                @include sm {
                    font-size: 14px;
                }
            }

            strong {
                white-space: nowrap;
            }

            small {
                color: #91baec;
                font-size: 0.9em;
            }

            &:nth-child(2) {
                --top: 20%;
                --left: auto;

                right: 0;
                width: 50%;
                text-align: right;

                @include sm {
                    --top: 10%;

                    width: 56%;
                }
            }

            &:nth-child(3) {
                --top: 45%;
                --left: 5%;

                width: 35%;

                @include sm {
                    --top: 65%;
                    --left: auto;

                    right: 0;
                    width: 45%;
                    text-align: right;
                }
            }

            &:last-child {
                --top: 55%;
                --left: auto;

                right: 0;
                width: 44%;
                text-align: right;

                @include md {
                    --top: 35%;
                }
            }
        }

        .e-component-pointer--reverse {
            @include sm {
                flex-direction: row;
            }

            hr {
                @include sm {
                    margin-right: 10px;
                    margin-left: 0;
                }
            }
        }
    }
}
