@use "@root/mixins" as *;
@use "@elements/e-declaimer" as *;

.c-supply-selector-cards {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;

    @include sm {
        max-width: none;
    }

    // .c-supply-selector-cards__title
    &__title {
        margin-bottom: 0;

        small {
            @include e-declaimer;
        }
    }

    // .c-supply-selector-cards__content
    &__content {
        &:has(#first-supply-card:checked) .supply-cards-labels label[for="first-supply-card"],
        &:has(#second-supply-card:checked) .supply-cards-labels label[for="second-supply-card"] {
            border-color: #212428;

            &::after {
                position: absolute;
                right: 0;
                bottom: -2px;
                left: 0;
                height: 2px;
                background: #fff;
                content: '';
            }
        }

        .supply-cards-labels {
            display: flex;
            gap: 8px;

            li {
                width: 100%;
            }

            label {
                position: relative;
                z-index: 1;
                display: block;
                padding: 12px 16px;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                border: 2px solid #d6d6d6;
                border-bottom: 0;
                border-radius: 16px 16px 0 0;
                background: #fff;
                cursor: pointer;

                @include lg {
                    padding: 8px;
                    font-size: 16px;
                    border-radius: 8px 8px 0 0;
                }

                .e-pill-badge {
                    --badge-base-color: #ff5429;

                    position: absolute;
                    top: -12px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .supply-card {
            position: relative;
            display: none;
            font-size: 20px;
            border: 2px solid #212428;
            border-radius: 0 0 16px 16px;

            @include lg {
                font-size: 14px;
                border-radius: 0 0 8px 8px;
            }

            &:has(input:checked) {
                display: block;
            }

            input {
                position: absolute;
                z-index: -1;
                visibility: hidden;
                opacity: 0;
            }

            // .supply-card__content
            &__content {
                display: grid;
                grid-template-columns: 1fr 110px;
                padding: 24px 32px 24px 16px;

                @include lg {
                    grid-template-columns: 1fr 75px;
                    padding: 16px 24px 16px 16px;
                }
            }

            // .supply-card__details
            &__details {
                display: flex;
                flex-direction: column;
                gap: 12px;
                align-items: start;

                .e-price__main {
                    align-items: end;

                    @include lg {
                        font-size: 18px;
                    }
                }

                .e-price__current {
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 1;

                    @include lg {
                        font-size: 32px;
                    }
                }

                p {
                    strong {
                        color: #ff5429;
                    }
                }

                .c-marked-list {
                    gap: 1px;
                }
            }

            // .supply-card__image
            &__image {
                img {
                    @include img-fluid;
                }

                figcaption {
                    display: block;
                    color: #8b8c8e;
                    font-size: 15px;
                    line-height: 1.1;
                    text-align: right;

                    @include lg {
                        font-size: 10px;
                    }
                }
            }

            // .supply-card__gift
            &__gift {
                .gift-notice {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    padding: 16px;
                    font-size: 18px;
                    border-radius: 14px;
                    background: #ffeeea;

                    @include lg {
                        gap: 8px;
                        padding: 12px;
                        font-size: 12px;
                        border-radius: 6px;
                    }

                    img {
                        @include img-fluid;
                        max-width: 50px;

                        @include lg {
                            max-width: 34px;
                        }
                    }

                    p {
                        strong {
                            display: block;
                            font-size: 24px;

                            @include lg {
                                font-size: 16px;
                            }
                        }

                    }

                    .e-pill-save {
                        --e-pill-save-color: #fff;

                        margin-left: auto;
                        color: #ff5429;
                        white-space: nowrap;
                        text-transform: none;
                    }
                }
            }
        }
    }

    @at-root .treatment__form {
        &:has(.c-selector-switcher li:first-child label input:checked) {
            .supply-card__details .c-marked-list,
            .supply-card__gift {
                display: none;
            }
        }
    }
}
