@use "@root/mixins" as *;

.c-upsell-card {
    $root: &;

    display: grid;
    grid-template: repeat(4, auto) / 100px repeat(2, auto);
    gap: 6px 16px;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background: #eff5fc;

    @include sm {
        grid-template: repeat(3, auto) / 90px repeat(2, auto);
    }

    picture {
        grid-row: 1 / -1;
    }

    img {
        @include img-fluid;
    }

    small,
    h6,
    p {
        grid-column: 2 / -1;
    }

    small {
        color: #6f6f71;
        font-size: 14px;
        text-transform: uppercase;
    }

    h6 {
        margin-bottom: 0;
        font-family: inherit;
        font-weight: normal;
    }

    p {
        color: #6f6f71;
        font-size: 14px;

        @include sm {
            display: none;
        }
    }

    .e-price {
        font-size: 16px;
    }

    .e-price__main {
        flex-direction: row-reverse;
    }

    a {
        margin-left: auto;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
