@use "@root/mixins" as *;

.how-it-works {
    $root: &;

    article {
        text-align: center;

        @include sm {
            text-align: left;
        }
    }

    h2 {
        margin-bottom: 32px;
    }

    h6 {
        margin-bottom: 0;
        font-family: inherit;
        font-weight: 600;
        counter-increment: item;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
        }

        &::before {
            content: "0" counter(item)". ";

            @media screen and (min-width: 768px) {
                width: 30px;
                height: 30px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                border-radius: 30px;
                background: #c7e5db;
                content: counter(item);
            }
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 32px;
        counter-reset: item;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 60px;
            justify-content: center;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: 768px) {
            align-items: center;
            width: min(340px, 100%);
        }
    }
}
