.better-together{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.better-together article{
  display:flex;
  flex-direction:column;
  gap:8px;
  max-width:860px;
  margin-bottom:32px;
}
.better-together article small{
  color:#8b8c8e;
  text-transform:uppercase;
}
.better-together .swiper-slide{
  overflow:hidden;
  border-radius:10px;
  background:#fff;
}
.better-together .swiper-slide figure{
  position:relative;
}
.better-together .swiper-slide .e-pill-badge{
  position:absolute;
  bottom:16px;
  left:24px;
  color:#212428;
  font-weight:600;
  background:hsla(0,0%,100%,.8);
}
.better-together .swiper-slide div{
  display:flex;
  flex-direction:column;
  gap:16px;
  padding:24px;
}
.better-together .swiper-slide h6{
  margin-bottom:0;
  font-family:inherit;
  font-weight:500;
}
.better-together .swiper-slide ul{
  font-size:14px;
}
.better-together .swiper-slide ul strong{
  display:block;
  color:#91baec;
}
@media screen and (max-width:767px){
  .better-together{
    padding-top:40px;
    padding-bottom:40px;
  }
  .better-together article p{
    font-size:16px;
  }
}
