.mi-new h2{
  margin-bottom:20px;
  text-align:center;
}
.mi-new .btn{
  display:none;
  width:100%;
  margin-top:24px;
}
.mi-new__content{
  display:grid;
  grid-template:repeat(4, auto)/repeat(2, auto);
  gap:12px 0;
  align-items:center;
  max-width:1000px;
  margin-right:auto;
  margin-left:auto;
}
.mi-new__pointer{
  position:relative;
  display:flex;
  flex-direction:column;
  gap:8px;
  margin-right:-40px;
}
.mi-new__pointer .e-pill-badge{
  position:relative;
  z-index:2;
  padding:6px 12px;
  color:#212428;
  font-weight:500;
  letter-spacing:0;
  background:#f6f6f7;
}
.mi-new__pointer .e-checkmark{
  color:#91baec;
  box-shadow:0 0 0 1px #91baec;
  background:none;
}
.mi-new__pointer p{
  max-width:220px;
  font-size:14px;
  line-height:1.25;
}
.mi-new__image{
  grid-row:1 /  -1;
  grid-column:2;
}
.mi-new__image img{
  display:block;
  max-width:100%;
  height:auto;
}
@media screen and (min-width:768px){
  .mi-new__content{
    grid-template:repeat(2, auto)/1fr 230px 1fr;
    gap:0;
  }
  .mi-new__pointer:after,.mi-new__pointer:before{
    position:absolute;
    content:"";
  }
  .mi-new__pointer:before{
    top:14px;
    right:0;
    z-index:1;
    width:10px;
    height:10px;
    border:1px dotted #91baec;
    border-radius:10px;
    background:#fff;
  }
  .mi-new__pointer:after{
    top:19px;
    right:0;
    left:0;
    height:1px;
    background:#91baec;
  }
  .mi-new__pointer:first-child{
    margin-right:-70px;
  }
  .mi-new__pointer:nth-child(3),.mi-new__pointer:nth-last-child(2){
    align-items:flex-end;
    margin-right:0;
    margin-left:-40px;
    text-align:right;
  }
  .mi-new__pointer:nth-child(3):before,.mi-new__pointer:nth-last-child(2):before{
    right:auto;
    left:0;
  }
  .mi-new__pointer:nth-child(3){
    grid-row:1;
    grid-column:3;
  }
  .mi-new__pointer:nth-last-child(2){
    margin-left:-60px;
  }
  .mi-new__pointer .e-pill-badge{
    box-shadow:0 0 0 12px #fff;
  }
  .mi-new__image{
    grid-row:1 / span 2;
  }
}
@media screen and (max-width:767px){
  .mi-new .btn{
    display:block;
  }
  .mi-new__pointer .e-pill-badge{
    gap:6px;
    padding-top:4px;
    padding-bottom:4px;
    font-size:16px;
  }
  .mi-new__pointer .e-checkmark{
    font-size:14px;
  }
  .mi-new__image img{
    max-width:none;
    height:400px;
  }
}
