@use "@root/mixins" as *;

@use "@components/c-accordion" as *;

.have-questions {
    $root: &;

    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f7;

    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > article {
            width: min(900px, 100%);
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

    h2 {
        margin-bottom: 24px;
        text-align: center;
    }

    .c-accordion__summary {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 18px;

        @include sm {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    .c-accordion__content {
        padding-bottom: 32px;
        font-size: 18px;

        @include sm {
            padding-bottom: 24px;
        }
    }

    .c-accordion__ask-us {
        margin-top: 60px;

        @include sm {
            margin-top: 40px;
        }
    }

    .team-advisor {
        display: grid;
        grid-template: repeat(2, auto) / 73px 1fr;
        gap: 0 24px;
        align-items: center;
        margin-top: 24px;
        padding: 24px;
        text-decoration: none;
        border-radius: 8px;
        background: #f3f3f3;

        @include sm {
            grid-template-columns: 60px 1fr;
            gap: 8px 16px;
            padding: 16px;
        }

        @include hover {
            strong {
                text-decoration: none;
            }
        }

        figure {
            position: relative;
            grid-row: 1 / -1;
        }

        figcaption {
            position: absolute;
            right: 2px;
            bottom: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            font-size: 16px;
            border: 1px solid #fff;
            border-radius: 2px;
            background: #cde6dd;
        }

        img {
            @include img-fluid;
            border-radius: 50%;
        }

        strong {
            font-size: 20px;
            text-decoration: underline;

            @include sm {
                font-size: 18px;
            }
        }

        span {
            @include sm {
                font-size: 14px;
            }
        }
    }

    &--light {
        padding-top: 0;
        padding-bottom: 0;
        background: none;

        @include sm {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
