/* stylelint-disable */

$spaces: (
    m: margin,
    p: padding
);

$sides: (
    "": (""),
    t: (-top),
    b: (-bottom),
    l: (-left),
    r: (-right),
    x: (-left, -right),
    y: (-top, -bottom)
);

$values: (
    0: 0,
    10: 10px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px,
    60: 60px,
    auto: auto
);

@each $abbr, $property in $spaces {
    @each $side, $directions in $sides {
        @each $key, $value in $values {
            .#{$abbr}#{$side}-#{$key} {
                @each $dir in $directions {
                    #{$property}#{$dir}: $value !important;
                }
            }
        }
    }
}

$breakpoints: (
    sm: 768px,
    md: 992px,
    lg: 1200px
);

@each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
        @each $abbr, $property in $spaces {
            @each $side, $directions in $sides {
                @each $key, $value in $values {
                    .#{$abbr}#{$side}-#{$breakpoint}-#{$key} {
                        @each $dir in $directions {
                            #{$property}#{$dir}: $value !important;
                        }
                    }
                }
            }
        }
    }
}
