.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-proven:before{
  content:"\e932";
}

.e-icon-pay-later:before{
  content:"\e933";
}

.e-icon-reviewed:before{
  content:"\e934";
}

.e-icon-verified-shield:before{
  content:"\e93b";
}

.e-icon-checkmark-fill:before{
  content:"\e944";
}

.e-icon-cross-fill:before{
  content:"\e945";
}

.e-icon-clock:before{
  content:"\e94b";
}

.e-icon-blemishes:before{
  content:"\e951";
}

.e-icon-dark-spots:before{
  content:"\e952";
}

.e-icon-fine-lines:before{
  content:"\e953";
}

.e-icon-rough-texture:before{
  content:"\e954";
}

.e-icon-puffiness:before{
  content:"\e955";
}

.e-icon-eye-bags:before{
  content:"\e956";
}

.e-icon-wrinkles:before{
  content:"\e957";
}

.e-icon-call-us:before{
  content:"\e95f";
}

.e-icon-chat:before{
  content:"\e960";
}

.e-icon-email:before{
  content:"\e961";
}

.e-icon-email-fill:before{
  content:"\e962";
}

.e-icon-pinterest:before{
  content:"\e963";
}

.e-icon-whatsapp:before{
  content:"\e964";
}

.e-icon-access-creatives:before{
  content:"\e965";
}

.e-icon-ambassador-manager:before{
  content:"\e966";
}

.e-icon-earn-money:before{
  content:"\e967";
}

.e-icon-exclusive-perks:before{
  content:"\e968";
}

.e-icon-social-collabs:before{
  content:"\e969";
}

.e-icon-special-discounts:before{
  content:"\e96a";
}

.e-icon-clinic-results:before{
  content:"\e96b";
}

.e-icon-incredibly-convenient:before{
  content:"\e96c";
}

.e-icon-one-time-money:before{
  content:"\e96d";
}

.e-icon-balances:before{
  content:"\e96e";
}

.e-icon-hydration:before{
  content:"\e96f";
}

.e-icon-no-chlorine:before{
  content:"\e970";
}

.e-icon-shine:before{
  content:"\e971";
}

.e-icon-unclogs-pores:before{
  content:"\e972";
}

.e-icon-watering-can:before{
  content:"\e973";
}

.e-icon-easy-washing:before{
  content:"\e974";
}

.e-icon-faucet:before{
  content:"\e975";
}

.e-icon-rotation:before{
  content:"\e976";
}

.e-icon-one-year:before{
  content:"\e977";
}

.e-icon-hand:before{
  content:"\e978";
}

.e-icon-calendar:before{
  content:"\e979";
}

.e-icon-certificate:before{
  content:"\e97a";
}

.e-icon-charge:before{
  content:"\e97b";
}

.e-icon-leds:before{
  content:"\e97c";
}

.e-icon-switcher:before{
  content:"\e97d";
}

.e-icon-wave:before{
  content:"\e97e";
}

.e-icon-treatment-time:before{
  content:"\e97f";
}

.e-icon-eye:before{
  content:"\e980";
}

.e-icon-share:before{
  content:"\e981";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.e-icon-chlorine:before{
  content:"\e935";
}

.e-icon-copper:before{
  content:"\e936";
}

.e-icon-heavy-metals:before{
  content:"\e937";
}

.e-icon-limescale:before{
  content:"\e938";
}

.e-icon-micro-organisms:before{
  content:"\e939";
}

.e-icon-micro-plastics:before{
  content:"\e93a";
}

.e-icon-benefits-headphone:before{
  content:"\e940";
}

.e-icon-benefits-gift:before{
  content:"\e941";
}

.e-icon-benefits-restart:before{
  content:"\e942";
}

.e-icon-benefits-box:before{
  content:"\e943";
}

.e-icon-pp-filter:before{
  content:"\e93f";
}

.e-icon-nok-filter:before{
  content:"\e93e";
}

.e-icon-carbon:before{
  content:"\e93d";
}

.e-icon-asp-descaler:before{
  content:"\e93c";
}

.e-icon-mi-painless:before{
  content:"\e946";
}

.e-icon-perfect-transforming:before{
  content:"\e947";
}

.e-icon-save-money:before{
  content:"\e948";
}

.e-icon-mi-seamless:before{
  content:"\e949";
}

.e-icon-mi-quick:before{
  content:"\e94a";
}

.e-icon-two-in-one:before{
  content:"\e94c";
}

.e-icon-deeply-hydrates:before{
  content:"\e94d";
}

.e-icon-calms-redness:before{
  content:"\e94e";
}

.e-icon-even-looking:before{
  content:"\e94f";
}

.e-icon-smooths:before{
  content:"\e950";
}

.e-icon-skin-firming:before{
  content:"\e958";
}

.e-icon-smooth-skin:before{
  content:"\e959";
}

.e-icon-tone-balance:before{
  content:"\e95a";
}

.e-icon-neck-even-tone:before{
  content:"\e95b";
}

.e-icon-neck-anti-wrinkle:before{
  content:"\e95c";
}

.e-icon-neck-firming:before{
  content:"\e95d";
}

.e-icon-neck-radiance:before{
  content:"\e95e";
}

.e-pill-tabs{
  display:flex;
  gap:8px;
  align-items:center;
  justify-content:center;
  padding:7px 11px;
  border:1px solid #8b8c8e;
  border-radius:100px;
}
.e-pill-tabs li{
  flex-grow:1;
}
.e-pill-tabs button,.e-pill-tabs label{
  width:100%;
  padding:7px 16px;
  color:#b5b6b7;
  font-size:18px;
  border:0;
  border-radius:100px;
  background:none;
  cursor:pointer;
  transition:all .2s linear;
}
.e-pill-tabs button:hover,.e-pill-tabs label:hover{
  color:#212428;
  background-color:#eee;
}
.e-pill-tabs button.active,.e-pill-tabs label.active{
  color:#212428;
  background-color:#c7e5db;
  pointer-events:none;
}
.e-pill-tabs--selector label{
  position:relative;
  text-align:center;
}
.e-pill-tabs--selector label input{
  position:absolute;
  z-index:-1;
  opacity:0;
}
.e-pill-tabs--selector label:has(input:checked){
  color:#212428;
  background:#91baec;
}

.c-pill-tabs{
  display:flex;
  flex-direction:column;
  gap:32px;
  align-items:center;
}
.c-pill-tabs h6{
  margin-bottom:-10px;
  font-family:inherit;
  font-weight:500;
}
.c-pill-tabs__buttons{
  min-width:210px;
}
.c-pill-tabs__pane{
  transition:opacity .6s linear;
}
.c-pill-tabs__pane:not(.show){
  position:absolute;
  left:-300vw;
  z-index:-10;
  visibility:hidden;
  max-width:100vw;
  opacity:0;
}
.c-pill-tabs__pane img{
  display:block;
  max-width:100%;
  height:auto;
}

.c-wistia-embed-video{
  position:relative;
  overflow:hidden;
  cursor:pointer;
}
.c-wistia-embed-video .wistia_embed,.c-wistia-embed-video .wistia_responsive_padding,.c-wistia-embed-video .wistia_responsive_wrapper,.c-wistia-embed-video .wistia_swatch{
  height:100%;
}
.c-wistia-embed-video .wistia_swatch img{
  display:block;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
  max-height:100%;
  filter:blur(5px);
}
.c-wistia-embed-video div[id$=thumbnail_focus_indicator]{
  box-shadow:none !important;
}
.c-wistia-embed-video--custom{
  position:relative;
}
.c-wistia-embed-video--custom .wistia_embed{
  position:absolute;
  inset:0;
  z-index:1;
  opacity:0;
}
.c-wistia-embed-video--custom:has(.wistia_mouseover) .c-wistia-embed-video__link span{
  text-decoration:underline;
}
.c-wistia-embed-video--custom .c-wistia-embed-video__link{
  display:flex;
  gap:8px;
  align-items:center;
  font-size:20px;
  font-weight:600;
}
.c-wistia-embed-video--custom .c-wistia-embed-video__link .e-icon{
  -webkit-text-stroke:.5px;
}

.meet-filters{
  padding-top:60px;
  padding-bottom:60px;
  background:linear-gradient(270deg, #f6f6f7, #e2e2e3 45%);
}
.meet-filters .container{
  display:grid;
  grid-template-columns:1fr min(450px, 40%);
  gap:24px 60px;
  align-items:center;
}
.meet-filters article img{
  display:block;
  max-width:100%;
  height:auto;
}
.meet-filters h2{
  margin-bottom:15px;
}
.meet-filters .c-pill-tabs>img{
  display:none;
  width:calc(100% + 32px);
  height:auto;
  margin:-24px -16px;
}
.meet-filters .c-pill-tabs__pane{
  display:grid;
  grid-template:repeat(3, auto)/repeat(2, 1fr);
  gap:30px 20px;
  width:100%;
  padding:30px 20px;
  border-radius:10px;
  background:#fff;
}
.meet-filters .c-pill-tabs__pane h6{
  grid-column:1 /  -1;
  font-family:inherit;
  font-weight:500;
  text-align:center;
}
.meet-filters .c-pill-tabs__pane ul{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-column:1 /  -1;
  gap:20px;
  padding:20px 35px;
  font-size:16px;
  line-height:1.2;
  border-radius:10px;
  background:#f6f6f7;
}
.meet-filters .c-pill-tabs__pane ul li{
  display:flex;
  gap:12px;
  align-items:center;
}
.meet-filters .c-pill-tabs__pane img{
  -o-object-fit:cover;
     object-fit:cover;
  aspect-ratio:1/1;
  display:block;
  max-width:100%;
  height:auto;
  border-radius:10px;
}
.meet-filters .c-pill-tabs__pane .c-wistia-embed-video{
  overflow:hidden;
  border-radius:10px;
}
.meet-filters .c-pill-tabs__pane .c-wistia-embed-video .wistia_responsive_padding{
  max-height:100%;
  padding-top:0 !important;
}
.meet-filters .e-pill-tabs{
  background:#fff;
}
.meet-filters .e-pill-tabs li button.active{
  background:#91baec;
}
@media screen and (max-width:991px){
  .meet-filters .container{
    gap:40px;
  }
  .meet-filters article img{
    display:none;
  }
  .meet-filters .c-pill-tabs__pane{
    -moz-column-gap:8px;
         column-gap:8px;
  }
  .meet-filters .c-pill-tabs__pane ul{
    gap:20px 8px;
    padding:20px;
  }
  .meet-filters .c-pill-tabs__pane ul li{
    flex-direction:column;
    gap:6px;
    align-items:start;
  }
}
@media screen and (max-width:767px){
  .e-pill-tabs button,.e-pill-tabs label{
    font-size:16px;
  }
  .c-pill-tabs{
    gap:20px;
  }
  .c-pill-tabs__buttons{
    min-width:0;
  }
  .meet-filters{
    padding-top:40px;
    padding-bottom:40px;
    background:linear-gradient(0deg, #f6f6f7, #e2e2e3 45%);
  }
  .meet-filters .container{
    grid-template-columns:auto;
    gap:24px;
  }
  .meet-filters .c-pill-tabs>img{
    display:block;
  }
}
