.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:var(--badge-base-color, #8b8c8e);
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h calc(s * 3) calc(l + (100 - l) * .95));
}
.e-pill-badge .e-checkmark{
  font-size:1em;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  gap:6px;
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--sm .e-checkmark,.e-pill-badge--small .e-checkmark{
  margin-left:-4px;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs .e-checkmark{
  margin-left:-4px;
}
.e-pill-badge--xxs{
  gap:4px;
  padding:0 10px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--fill{
  color:var(--badge-base-color, #fff);
  background:var(--badge-fill-color, #ff5429);
}

.peek-cards-slider .container{
  margin-right:0;
  padding-right:0;
}
.peek-cards-slider__content{
  display:grid;
  grid-template:repeat(2, auto)/1fr 50vw;
  gap:20px 60px;
  align-items:center;
}
.peek-cards-slider h2{
  align-self:end;
  margin-bottom:0;
}
.peek-cards-slider h2+div{
  align-self:start;
}
.peek-cards-slider .c-swiper{
  grid-row:1 /  -1;
  grid-column:2;
}
.peek-cards-slider .swiper-slide{
  position:relative;
  overflow:hidden;
  border:1px solid #8b8c8e;
  border-radius:10px;
}
.peek-cards-slider .swiper-slide img{
  -o-object-fit:cover;
     object-fit:cover;
  max-height:220px;
}
.peek-cards-slider .swiper-slide article{
  padding:20px;
}
.peek-cards-slider .swiper-slide h6{
  margin-bottom:8px;
  font-family:inherit;
  font-weight:500;
}
.peek-cards-slider .swiper-slide hr{
  margin:16px 0;
}
.peek-cards-slider .swiper-slide small{
  display:block;
  margin-bottom:8px;
}
.peek-cards-slider .swiper-slide ul{
  display:flex;
  flex-wrap:wrap;
  gap:6px 10px;
}
.peek-cards-slider .swiper-slide .e-pill-badge{
  color:currentColor;
}
.peek-cards-slider--changes .peek-cards-slider__content{
  grid-template:auto auto 1fr/1fr 65vw;
}
.peek-cards-slider--changes .btn{
  align-self:start;
}
.peek-cards-slider--changes .swiper-slide{
  border:0;
}
.peek-cards-slider--changes .changes-tile{
  display:flex;
  flex-direction:column;
  gap:24px;
  align-items:center;
  padding:24px;
  border-radius:10px;
  background:#f6f6f7;
}
.peek-cards-slider--changes .changes-tile img{
  width:100%;
  max-width:100%;
  height:auto;
  max-height:none;
  border-radius:5px;
}
.peek-cards-slider--changes .changes-tile p{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  align-items:center;
  font-size:16px;
}
.peek-cards-slider--changes .changes-tile p span{
  padding:4px 18px;
  border:1px solid #8b8c8e;
  border-radius:50px;
  background:#fff;
}
@media screen and (min-width:1200px){
  .peek-cards-slider .container{
    max-width:calc(100% - (100vw - 1172px) / 2);
  }
}
@media screen and (min-width:1400px){
  .peek-cards-slider .container{
    max-width:calc(100% - (100vw - 1232px) / 2);
  }
}
@media screen and (max-width:991px){
  .peek-cards-slider__content{
    -moz-column-gap:40px;
         column-gap:40px;
  }
}
@media screen and (max-width:767px){
  .peek-cards-slider .container{
    padding-right:15px;
  }
  .peek-cards-slider__content{
    grid-template-columns:auto;
  }
  .peek-cards-slider h2{
    align-self:start;
  }
  .peek-cards-slider .c-swiper{
    grid-row:auto;
    grid-column:auto;
  }
  .peek-cards-slider .swiper-slide img{
    width:100%;
    border-radius:5px;
  }
  .peek-cards-slider--changes .peek-cards-slider__content{
    grid-template-columns:auto;
  }
  .peek-cards-slider--changes .btn{
    order:10;
  }
  .peek-cards-slider--changes .changes-tile{
    gap:16px;
    padding:16px;
  }
  .peek-cards-slider--changes .changes-tile p span{
    padding-top:0;
    padding-bottom:0;
  }
}
