@use "@root/mixins" as *;

.promo-strip {
    $root: &;

    position: relative;

    picture {
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    img {
        object-fit: cover;
        object-position: 25% 50%;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;

        @include sm {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    article {
        display: grid;
        gap: 8px 0;
        align-items: center;

        @include xl {
            // grid-template-columns: 300px 260px;
        }

        @include sm {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 90%;
            margin: 0;
            padding-left: 8px;
        }

        p {
            @include sm {
                max-width: 70%;
            }
        }
    }

    h3 {
        margin-bottom: 0;
        font-size: 34px;

        @include sm {
            font-size: 28px;
        }
    }

    .btn {
        grid-row: 1 / -1;
        grid-column: 2;

        @include sm {
            height: auto;
            margin-top: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 18px;
        }
    }

    // .promo-strip--blue-plus
    &--blue-plus {
        @include md {
            background: #f4f4f4;
        }

        article {
            grid-template: repeat(2, auto) / 46% 270px;
            margin-left: 16%;

            @include md {
                margin-left: 0;
            }
        }

        .btn {
            --btn-primary-bg: #ff5429;
        }

        .free-gift {
            position: absolute;
            top: 50%;
            right: 13%;
            z-index: -1;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background: #fff;
            transform: translateY(-50%);

            @include xl {
                top: auto;
                right: -25px;
                bottom: -22px;
                width: 160px;
                height: 160px;
                transform: none;
            }

            @include md {
                z-index: 1;
            }

            .e-pill-badge {
                position: absolute;
                top: 50%;
                left: 100%;
                justify-content: center;
                min-width: 145px;
                margin-left: -14px;
                padding: 1px 8px;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0;
                text-transform: uppercase;
                border: 2px solid;

                @include xl {
                    top: 0;
                    left: 30%;
                    min-width: 85px;
                    margin-left: 0;
                    padding: 4px;
                    font-size: 12px;
                    border: 0;
                }

                &--fill {
                    margin-top: -42px;
                    border-color: #ff5429;
                    border-bottom-left-radius: 0;

                    @include xl {
                        margin-top: -3px;
                    }
                }

                &--ghost {
                    --badge-base-color: #ff5429;

                    border-top-left-radius: 0;
                    background: #fff;

                    @include xl {
                        margin-top: 20px;
                    }
                }

            }

            img {
                border-radius: 50%;
            }
        }
    }
}
