.across-slider__header{
  display:flex;
  align-items:center;
  margin-bottom:28px;
}
.across-slider__header h2{
  margin-bottom:0;
}
.across-slider__carousel .swiper-slide{
  padding-right:15px;
  padding-left:15px;
}
.across-slider__carousel .swiper-arrows-with-pagination{
  display:flex;
  gap:24px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.across-slider__carousel .swiper-arrows-with-pagination .swiper-pagination{
  position:static;
  width:auto;
}

.steps-to-use{
  padding:60px 0;
}
.steps-to-use .across-slider__header a{
  display:flex;
  gap:6px;
  align-items:center;
  margin-left:auto;
  color:#ff5429;
  font-size:20px;
  font-weight:600;
}
.steps-to-use .across-slider__header a:hover{
  text-decoration:underline;
}
.steps-to-use .across-slider__header a img{
  vertical-align:top;
}
.steps-to-use .across-slider__carousel{
  margin-left:auto;
}
.steps-to-use .across-slider__carousel .swiper-arrows-with-pagination{
  margin-top:40px;
  padding-right:15px;
  padding-left:15px;
}
.steps-to-use__item{
  position:relative;
}
.steps-to-use__item:after{
  position:absolute;
  top:18px;
  left:18px;
  z-index:1;
  width:40px;
  height:40px;
  font-size:26px;
  line-height:40px;
  text-align:center;
  border-radius:40px;
  background:#fff;
  content:attr(data-number);
}
.steps-to-use__item img{
  display:block;
  width:100%;
  height:auto;
  margin-bottom:20px;
  border-radius:20px;
}
.steps-to-use__item h6{
  font-family:inherit;
  font-weight:600;
}
.product\.hairgrowth-helmet .lvideo-wrap .lvideo-overlay{
  background:rgba(0,0,0,.5);
  -webkit-backdrop-filter:blur(10px);
          backdrop-filter:blur(10px);
}
.product\.hairgrowth-helmet .lvideo-wrap iframe{
  max-width:900px;
  border:20px solid #fff;
  border-radius:0;
}
.product\.hairgrowth-helmet .lvideo-wrap .lvideo-close{
  top:50%;
  right:50%;
  width:50px;
  height:50px;
  margin-top:-250px;
  margin-right:-520px;
  border:0;
  background:hsla(0,0%,100%,.8) url(/assets/images/cross_black.svg) 50% 50% no-repeat;
}
.product\.hairgrowth-helmet .lvideo-wrap .lvideo-close:hover{
  background-color:#c8e6dc;
}
.product\.hairgrowth-helmet .lvideo-wrap .lvideo-close .fa-solid{
  display:none;
}
@media screen and (min-width:1200px){
  .steps-to-use .across-slider__carousel{
    max-width:calc(100% - (100vw - 1172px) / 2);
  }
  .steps-to-use .across-slider__carousel .swiper-arrows-with-pagination{
    max-width:1172px;
  }
}
@media screen and (min-width:1400px){
  .steps-to-use .across-slider__carousel{
    max-width:calc(100% - (100vw - 1232px) / 2);
  }
  .steps-to-use .across-slider__carousel .swiper-arrows-with-pagination{
    max-width:1232px;
  }
}
@media screen and (max-width:1120px){
  .product\.hairgrowth-helmet .lvideo-wrap .lvideo-close{
    top:20px;
    right:20px;
    margin-top:0;
    margin-right:0;
  }
}
@media screen and (max-width:991px){
  .steps-to-use{
    padding:25px 0;
  }
}
@media screen and (max-width:767px){
  .across-slider__header{
    margin-bottom:20px;
  }
  .across-slider__carousel .swiper-arrows-with-pagination{
    margin-top:20px;
    margin-bottom:10px;
  }
  .steps-to-use .across-slider__header{
    flex-direction:column;
    gap:16px;
    align-items:flex-start;
  }
  .steps-to-use .across-slider__header a{
    margin-left:0;
  }
  .steps-to-use .across-slider__carousel .swiper-arrows-with-pagination{
    margin-top:20px;
    margin-bottom:0;
  }
  .steps-to-use__item:after{
    top:10px;
    left:10px;
    width:24px;
    height:24px;
    font-size:16px;
    line-height:24px;
  }
  .steps-to-use__item img{
    -o-object-fit:cover;
       object-fit:cover;
    height:300px;
  }
  .product\.hairgrowth-helmet .lvideo-wrap iframe{
    border-width:2px;
  }
  .product\.hairgrowth-helmet .lvideo-wrap .lvideo-close{
    width:35px;
    height:35px;
    background-size:15px;
  }
}
