.c-pills-nav{
  display:flex;
  gap:16px;
  overflow:auto hidden;
  max-width:-webkit-max-content;
  max-width:-moz-max-content;
  max-width:max-content;
  margin-right:auto;
  margin-left:auto;
  font-size:16px;
  -ms-overflow-style:none;
  scrollbar-width:none;
}
.c-pills-nav::-webkit-scrollbar{
  display:none;
}
.c-pills-nav a,.c-pills-nav button{
  display:inline-block;
  padding:5px 20px;
  color:#212428;
  border:1px solid currentcolor;
  border-radius:100px;
  background:transparent;
  transition:.3s;
}
.c-pills-nav a.active,.c-pills-nav a:hover,.c-pills-nav button.active,.c-pills-nav button:hover{
  color:#fff;
  border-color:#212428;
  background-color:#212428;
}
.c-pills-nav a.active,.c-pills-nav button.active{
  pointer-events:none;
}
.c-pills-nav a,.c-pills-nav button{
  white-space:nowrap;
}
.c-pills-nav a:hover,.c-pills-nav button:hover{
  text-decoration:none;
}

.pills-nav .container{
  display:flex;
  gap:32px;
  align-items:center;
}
.pills-nav__header{
  display:flex;
  justify-content:space-between;
  font-size:16px;
}
.pills-nav__header span{
  white-space:nowrap;
}
.pills-nav__header div{
  display:none;
  gap:6px;
  align-items:center;
}
.pills-nav__header .e-icon{
  font-size:12px;
}
.pills-nav:not(.pills-nav--left) .pills-nav__header{
  display:none;
}
.pills-nav--left .c-pills-nav{
  margin:0;
}
@media screen and (max-width:991px){
  .c-pills-nav{
    gap:8px;
  }
  .pills-nav .container{
    flex-direction:column;
    gap:10px;
    align-items:stretch;
  }
  .pills-nav__header div{
    display:flex;
  }
  .pills-nav .c-pills-nav{
    margin:0;
  }
  .pills-nav:not(.pills-nav--left) .pills-nav__header{
    display:flex;
  }
}
@media screen and (max-width:767px){
  .c-pills-nav a,.c-pills-nav button{
    font-size:16px;
  }
}
