@use "@root/mixins" as *;
@use "@components/c-pills-nav" as *;

.pills-nav {
    $root: &;

    .container {
        display: flex;
        gap: 32px;
        align-items: center;

        @include md {
            flex-direction: column;
            gap: 10px;
            align-items: stretch;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        span {
            white-space: nowrap;
        }

        div {
            display: none;
            gap: 6px;
            align-items: center;

            @include md {
                display: flex;
            }
        }

        .e-icon {
            font-size: 12px;
        }
    }

    .c-pills-nav {
        @include md {
            margin: 0;
        }
    }

    &:not(.pills-nav--left) {
        #{$root}__header {
            display: none;

            @include md {
                display: flex;
            }
        }
    }

    &--left {
        .c-pills-nav {
            margin: 0;
        }
    }
}
