@use "@root/mixins" as *;

.tiles-group {
    $root: &;

    article {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        @include sm {
            gap: 20px;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    ul {
        display: flex;
        gap: 24px;
        width: 100%;

        @include md {
            gap: 16px;
        }

        @include sm {
            flex-direction: column;
        }
    }

    li {
        position: relative;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        vertical-align: top;
        border-radius: 10px;
    }

    .btn {
        position: absolute;
        inset: auto 32px 20px;
        padding-right: 16px;
        padding-left: 16px;
        font-weight: 500;

        @include md {
            right: 20px;
            left: 20px;
            font-size: 18px;
        }
    }
}
