.daily-cleanser{
  position:relative;
}
.daily-cleanser picture{
  position:absolute;
  inset:0;
  z-index:-1;
}
.daily-cleanser img{
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:30% 50%;
     object-position:30% 50%;
  width:100%;
  height:100%;
}
.daily-cleanser .container{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding-top:20px;
  padding-bottom:20px;
}
.daily-cleanser article{
  display:grid;
  grid-template:repeat(3, auto)/320px 270px;
  gap:8px 0;
  align-items:center;
  margin-right:auto;
  margin-left:auto;
}
.daily-cleanser .e-pill-badge{
  justify-content:center;
  min-width:62px;
  font-weight:600;
  text-transform:uppercase;
}
.daily-cleanser h3{
  font-size:34px;
}
.daily-cleanser .btn{
  grid-row:1 /  -1;
  grid-column:2;
}
.daily-cleanser .free-gift{
  position:absolute;
  top:50%;
  right:13%;
  z-index:-1;
  width:180px;
  height:180px;
  padding:10px;
  border-radius:50%;
  background:#fff;
  transform:translateY(-50%);
}
.daily-cleanser .free-gift .e-pill-badge{
  position:absolute;
  top:30px;
  left:100%;
  margin-left:-18px;
  padding:6px 24px;
  font-size:25px;
  border-bottom-left-radius:0;
}
.daily-cleanser .free-gift img{
  border-radius:50%;
}
@media screen and (max-width:1199px){
  .daily-cleanser article{
    grid-template-columns:300px 260px;
  }
  .daily-cleanser .free-gift{
    top:auto;
    right:-24px;
    bottom:-22px;
    width:160px;
    height:160px;
    transform:none;
  }
  .daily-cleanser .free-gift .e-pill-badge{
    top:-8px;
    left:50%;
    margin-left:0;
    padding:4px 12px;
    font-size:14px;
    transform:translateX(-40%);
  }
}
@media screen and (max-width:767px){
  .daily-cleanser .container{
    padding-top:14px;
    padding-bottom:14px;
  }
  .daily-cleanser article{
    display:flex;
    flex-direction:column;
    align-items:start;
    margin:0;
    padding-left:8px;
  }
  .daily-cleanser h3{
    margin-bottom:0;
    font-size:28px;
  }
  .daily-cleanser strong{
    display:block;
  }
  .daily-cleanser .btn{
    height:auto;
    margin-top:10px;
    padding-top:6px;
    padding-bottom:6px;
    font-size:18px;
  }
}
