.quick-links{
  display:none;
  padding-top:16px;
  padding-bottom:16px;
}
.quick-links .c-swiper{
  margin:0;
  padding:0;
}
.quick-links .swiper-slide a{
  display:flex;
  flex-direction:column;
  gap:10px;
  align-items:center;
  color:inherit;
  font-size:12px;
  line-height:1.3;
  text-align:center;
}
.quick-links .swiper-slide span{
  margin-right:-4px;
  margin-left:-4px;
}
.quick-links .swiper-slide img{
  display:block;
  max-width:100%;
  height:auto;
  max-width:70px;
}
@media screen and (max-width:767px){
  .quick-links{
    display:block;
    margin-bottom:-40px;
  }
}
