.text-section{
  width:100%;
}
.text-section article{
  max-width:900px;
  margin:0 auto;
  text-align:center;
}
.text-section article h2{
  margin-bottom:20px;
}
.text-section article h2:last-child{
  margin-bottom:0;
}
.text-section article em{
  font-style:normal;
  background:#c7e5db;
}
.text-section article img[alt*=Newsweek]{
  width:150px;
  height:auto;
}
.text-section--bg{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.text-section .real-problems{
  display:flex;
  gap:20px;
  width:100%;
  margin-top:32px;
  text-align:center;
}
.text-section .real-problems li{
  display:grid;
  gap:16px;
  justify-items:center;
  padding:20px;
  border-radius:10px;
  background:#f6f6f7;
}
.text-section .real-problems img{
  max-width:72px;
  height:auto;
  margin-bottom:8px;
}
.text-section .real-problems h6{
  margin-bottom:0;
  font-family:inherit;
  font-weight:500;
}
.text-section--guide{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.text-section--guide article{
  display:grid;
  grid-template:repeat(2, auto)/1fr 350px;
  gap:4px 16px;
  align-items:center;
  max-width:none;
  text-align:left;
}
.text-section--guide h5{
  margin-bottom:0;
  font-family:inherit;
  font-weight:600;
}
.text-section--guide .btn{
  display:flex;
  grid-row:1 /  -1;
  grid-column:2;
  gap:12px;
  align-items:center;
  justify-content:center;
}
.text-section--guide .e-icon{
  font-size:.8em;
  -webkit-text-stroke:.85px;
}
.text-section--stats{
  padding-top:40px;
  padding-bottom:40px;
  background:#f6f6f7;
}
.text-section--stats article{
  max-width:none;
}
.text-section--stats ul{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:40px;
  justify-content:center;
}
.text-section--stats ul li{
  display:flex;
  flex-direction:column;
  gap:12px;
  max-width:210px;
  text-align:center;
}
.text-section--stats ul span{
  font-family:var(--heading-font-family);
  font-size:46px;
  line-height:1.2;
}
body.page\.our-story .text-section--stats ul span{
  font-size:26px;
}

.text-section--stats hr{
  margin:32px 0 24px;
  opacity:.1;
}
.text-section--stats .footnote{
  display:flex;
  gap:32px;
  justify-content:center;
  font-size:14px;
  text-align:center;
}
.text-section--stats .footnote p{
  margin:0;
}
body.page\.exclusive-holiday-bundle-deal .text-section{
  padding-top:60px;
  padding-bottom:60px;
}
body.page\.exclusive-holiday-bundle-deal .text-section article{
  text-align:left;
}
body.page\.contact-us .text-section{
  padding-top:40px;
  padding-bottom:40px;
  background:#f6f6f7;
}
body.page\.contact-us .text-section article{
  display:flex;
  gap:24px;
  max-width:670px;
  font-size:16px;
}
body.page\.contact-us .text-section article strong{
  margin-right:auto;
}
body.page\.contact-us .text-section article a{
  color:inherit;
  text-decoration:underline;
}
body.page\.contact-us .text-section article a:hover{
  text-decoration:none;
}
@media screen and (max-width:767px){
  .text-section article{
    text-align:left;
  }
  .text-section--bg{
    padding-top:40px;
    padding-bottom:40px;
  }
  .text-section--bg article{
    text-align:center;
  }
  .text-section .real-problems{
    flex-direction:column;
  }
  .text-section .real-problems li{
    grid-template:repeat(2, auto)/72px 1fr;
    gap:10px 16px;
    place-items:center start;
    text-align:left;
  }
  .text-section .real-problems img{
    grid-row:1 /  -1;
  }
  .text-section--guide{
    padding-top:40px;
    padding-bottom:40px;
  }
  .text-section--guide article{
    grid-template:auto/auto;
  }
  .text-section--guide .btn{
    grid-row:auto;
    grid-column:auto;
    margin-top:12px;
  }
  .text-section--stats ul{
    grid-template-columns:repeat(2, 1fr);
    -moz-column-gap:24px;
         column-gap:24px;
  }
  .text-section--stats ul span{
    font-size:32px;
  }
  .text-section--stats .footnote{
    flex-direction:column;
    gap:8px;
  }
  body.page\.exclusive-holiday-bundle-deal .text-section{
    padding-top:40px;
    padding-bottom:40px;
  }
  body.page\.contact-us .text-section article{
    flex-direction:column;
    gap:16px;
    align-items:center;
  }
  body.page\.contact-us .text-section article strong{
    margin-right:0;
  }
  body.page\.contact-us .text-section article span{
    display:none;
  }
}
